openapi: 3.1.0
info:
  title: Coinbase Developer Platform APIs
  description: The Coinbase Developer Platform APIs - leading the world's transition onchain.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 2.0.0
  contact:
    name: Coinbase Developer Platform
    email: cdp@coinbase.com
    url: https://cdp.coinbase.com
servers:
  - url: https://api.cdp.coinbase.com/platform
    description: The production server of the CDP APIs.
  - url: https://api.cdp.coinbase.com/platform/delegated
    description: The production server of the CDP Embedded Wallet APIs for delegated signing operations.
security:
  - apiKeyAuth: []
tags:
  - name: Embedded Wallets (Core Functionality)
    x-audience: public
    description: |-
      The Embedded Wallet APIs enable end users to directly create, manage, and use their accounts. They are typically accessed via the CDP Web SDK. End users authenticate with the APIs via the `InitiateAuthentication` endpoint, and use the returned access token and refresh token to authenticate with the other endpoints. The Embedded Wallet APIs offer end users full control over their accounts, including the ability to sign transactions and messages, and to export their accounts' private keys.

      There are three authentication credentials involved in the Embedded Wallet APIs:

      1. **Access Token**: A JWT signed by CDP, encoded in base64. This is used to identify the end user, and is
        issued after the end user has signed in using one of the provided authentication methods.
        The APIs provide multiple mechanisms for end user authentication, including custom auth JWT authentication,
        email one-time-password (OTP) authentication, and social sign-in.


      2. **Refresh Token**: A cryptographically random string, set as the `cdp_refresh_token` cookie in the end user's browser.
        By hitting the `RefreshAccessToken` endpoint, the included refresh token can be used to obtain a new access token
        without requiring the end user to sign in again.


      3. **Temporary Wallet Secret (TWS)**: Requests to signing-related endpoints must also be authenticated using a
        **Temporary Wallet Secret** (TWS) generated on the end user's browser/device. Typically, this is done using the CDP Embedded Wallet SDK. The Temporary Wallet Secret
        follows similar semantics to the Wallet Secret used by the EVM and Solana Account APIs, with the following key differences:

        - The end user must register their TWS with the End User Accounts APIs before it can be used.
        - Temporary Wallet Secrets have a time-to-live (TTL) defined by the `validUntil` field in the TWS registration request.
        - A maximum of five TWS's can be registered for a single end user at any given time.
  - name: End User Accounts
    x-audience: public
    description: |-
      The End User Accounts APIs enable developers to manage the accounts belonging to their end users. End User Accounts are typically created by end users themselves when they sign in to the developer's application via the CDP Web SDK. However, developers also have the option of creating End User Accounts on behalf of their end users. Critically, developers do not have the ability to sign transactions or messages on behalf of the end user; only end users can do this.

      End User Accounts APIs are accessed by the developer's servers and authenticated by the developer's CDP API key.
  - name: EVM Accounts
    x-audience: public
    description: |-
      The EVM Account APIs enable you to create and use accounts across blockchains that are compatible with the Ethereum Virtual Machine (EVM).

      An **account** is a private/public key pair that is used to sign transactions and messages. The private key is generated and used only in CDP's Trusted Execution Environment (TEE), and never exposed to Coinbase or the developer.

      An EVM account is identified by its **address**, which is a 0x-prefixed hexadecimal string. The same address can be used across multiple EVM networks.

      Accounts can optionally be assigned an **account name** at creation time for easier identification in subsequent API calls. EVM account names must be globally unique across all EVM accounts in the developer's CDP Project.

      ## Authentication

      The EVM Account API uses two layers of authentication to ensure the security of your accounts' private keys:

      - **CDP Secret API Key**: This key is used to authenticate all requests to the entire suite of
         REST APIs offered on Coinbase Developer Platform.
      - **Wallet Secret**: This secret is used specifically to authenticate sensitive wallet operations
        to `POST` and `DELETE` endpoints in the EVM and Solana Account APIs.


      To learn more about creating and using these keys, visit our [Authentication docs](https://docs.cdp.coinbase.com/api-reference/v2/authentication).

      <Tip>


      **Use our SDK**


      The [CDP SDK](https://github.com/coinbase/cdp-sdk) automatically authenticates requests using your CDP Secret API Key and Wallet Secret. Use the CDP SDK for a more convenient access to our APIs.


      </Tip>
  - name: EVM Smart Accounts
    x-audience: public
    description: |-
      The EVM Smart Account APIs enable you to create and manage Smart Account wallets across EVM-compatible blockchains.

      A **Smart Account** is an EVM account that enables enhanced functionality such as account abstraction, batched transactions, and gas sponsorship through [ERC-4337](https://eips.ethereum.org/EIPS/eip-4337). Smart Accounts allow users to create and manage "user operations" instead of traditional EVM transactions.
      Smart Accounts are identified by their **address**, which is a 0x-prefixed hexadecimal string.
      Smart Accounts can be assigned an optional **name** at creation time for easier identification in subsequent API calls.

      A Smart Account has a single owner, which is another EVM Account which signs the Smart Account's transactions. The owner can be a CDP EVM account, or an account managed solely by the developer.
  - name: EVM Swaps
    x-audience: public
    description: |-
      A swap refers to the act of exchanging one token for another. The EVM Swap APIs enable you to create and manage swaps. A swap process involves:

       1. A user approves token spending via smart contract.
       2. The smart contract determines the exchange rate and facilitates the swap between the two tokens.
       3. The transaction is completed atomically and the tokens are transferred to the user's wallet.

      The Swap API supports:

       - **Getting a price**: Estimate the amount of tokens you will receive for a given amount of exchanged tokens.
       - **Creating a swap quote**: Return a swap transaction payload that you can use to sign and submit in order to execute the swap.

      For the easiest experience creating, signing, and submitting a swap, we recommend using the [CDP SDK](https://github.com/coinbase/cdp-sdk/).
      - [Python SDK examples](https://github.com/coinbase/cdp-sdk/tree/main/python#evm-swaps)
      - [TypeScript SDK examples](https://github.com/coinbase/cdp-sdk/tree/main/typescript#evm-swaps)

      To read more about using the EVM Swap APIs, please see our [Swap API docs](https://docs.cdp.coinbase.com/swaps/docs/welcome).
  - name: EVM Token Balances
    x-audience: public
    description: |-
      The EVM Token Balances APIs enable you to retrieve the balances of EVM addresses.
      This includes tokens (i.e. ERC-20s) and the native gas token of the network.
      ## Denomination
      - 'amount' is denominated in the smallest indivisible unit of the token. For ETH, the smallest indivisible unit is Wei (10^-18 ETH). For ERC-20s, the smallest unit is the unit returned from `function totalSupply() public view returns (uint256)`.
      - 'decimals' is the exponential value N that satisfies the equation `amount * 10^-N = standard_denomination`. The standard denomination is the most commonly used denomination for the token.

        - In the case of the native gas token, `decimals` is defined via convention. As an example, for ETH of Ethereum mainnet, the standard denomination is 10^-18 the smallest denomination (Wei). As such, for ETH on Ethereum mainnet, `decimals` is 18.
        - In the case of ERC-20 tokens, `decimals` is defined via configuration. `decimals` will be the number returned by `function decimals() public view returns (uint8)` on the underlying token contract.
  - name: Faucets
    x-audience: public
    description: The Faucet APIs enable you to request funds on supported test networks. Faucets are for testing purposes and make development easier by providing a source of funds.
  - name: Onchain Data
    x-audience: public
    description: Query and analyze blockchain data with high performance and reliability. Features include real-time token balances, token discovery, and transaction history with freshness, accuracy, and completeness like never before.
  - name: Onramp
    x-audience: public
    description: |-
      The v2 Onramp APIs are an evolution of our [v1 APIs](https://docs.cdp.coinbase.com/api-reference/rest-api/onramp-offramp/), designed to make the fiat-to-crypto experience feel native to your applications for higher conversion and less friction. These APIs only cover a subset of Coinbase Onramp functionality as described below, for all other use cases please refer to our [v1 APIs](https://docs.cdp.coinbase.com/api-reference/rest-api/onramp-offramp/).

      ## Supported Use Cases

      #### Apple Pay Onramp

      This use case allows you to offer an Apple Pay onramp experience with debit cards in your app without users needing to create or log into a Coinbase account. Our API returns a `paymentLink` URL that renders an Apple Pay button for you to load in a webview or iframe in your app, making the onramp experience feel native to your application.

      Refer to our [detailed integration guide](https://docs.cdp.coinbase.com/onramp-&-offramp/onramp-apis/apple-pay-onramp-api) for more information on the limitations and requirements of this use case. See our [onramp mobile demo app](https://github.com/coinbase/onramp-demo-mobile) for a reference implementation.

      #### Hosted UI Onramp

      This use case enables you to offer a full-featured onramp experience by redirecting users to a Coinbase-hosted page where they can choose to log into their existing Coinbase account or proceed as a guest. The Onramp Session API generates secure, single-use Onramp URLs with customizable parameters, allowing you to control available payment methods, preset transaction amounts, and cryptocurrencies for a tailored user experience.

      Refer to our [guide](https://docs.cdp.coinbase.com/onramp-&-offramp/onramp-apis/generating-onramp-url) for implementation details and customization options for this use case.
  - name: Policy Engine
    x-audience: public
    description: |-
      The Policy Engine APIs evaluate policies (a set of rules) to govern the behavior of accounts or projects, such as enforce allowlists and denylists.
      - A **policy** is a collection of `rules` with defined criteria.
      - Each **rule** contains a specified `action`, `operation`, and `criteria`:
        - An `action` can either `accept` or `reject` a transaction if the criteria in the rule are met.
        - `criteria` is an array of logical expressions. All parameters must evaluate to true for the action to be applied.
        - An `operation` corresponds to a CDP v2 API:
            - `signEvmTransaction` or `signSolTransaction` for signing transactions (to set a transaction limit).
            - `sendEvmTransaction` for signing a transaction, and sending it to a supported network.
            - `signEvmHash` for signing an arbitrary 32 byte hash.
            - `signEvmMessage` for signing an [EIP-191](https://eips.ethereum.org/EIPS/eip-191) message.
            - `prepareUserOperation` for preparing user operations on a smart account.
            - `sendUserOperation` for sending user operations using a smart account.
            - `signEndUserEvmTransaction` or `signEndUserSolTransaction` for signing end user transactions (to set a transaction limit).
            - `sendEndUserEvmTransaction` for signing an end user transaction, and sending it to a supported EVM network.
            - `sendEndUserSolTransaction` for signing an end user transaction, and sending it to a supported Solana network.
            - `signEndUserEvmMessage` for signing an end user [EIP-191](https://eips.ethereum.org/EIPS/eip-191) message.
            - `signEndUserEvmTypedData` for signing end user [EIP-712](https://eips.ethereum.org/EIPS/eip-712) typed data.
            - `signEndUserSolMessage` for signing an end user Solana message.
      - A **rule** indicates how an operation should behave, specifying whether a request with defined criteria should be accepted or rejected.
      ## Policy Scope
      Policies can be applied at the project and/or account level:
      - **Project-level policy**: A `project`-level policy applies to all accounts in a CDP Project. Only one project-level policy can be applied to accounts within a CDP Project at any given time.
      - **Account-level policy**: An `account`-level policy applies to one or more accounts. An account
        can have at most one account-level policy at any given time.

      Thus, a single account can be assigned at most two policies at any given time: one project-level policy and one account-level policy.

      **Note:** End user operation rules (e.g., `signEndUserEvmTransaction`, `sendEndUserSolTransaction`) currently only apply for policies with the `project` scope.

      Scope is specified in the `scope` field of a policy:
      ```json {
        "description": "Project-level policy",
        "scope": "account",
        ...
      ```
      ## Policy Evaluation
      **Project-level policies** are evaluated first, followed by **account-level policies**.
      The Policy Engine will process the request against each rule in the order it is defined within the `rules` array:

        1. If the rule's `criteria` (processed as a logical **AND** operation applied to a list of independently evaluated boolean expressions) are met, `accept` or `reject` behavior is applied immediately and the engine stops further evaluation of the policy.
        1. If after policy evaluation, no rule's `criteria` are met, the engine moves to processing the next policy (i.e., an `account`-level policy).
        1. If no further policies exist, the request is rejected.

      For example, the following policy is a project-level policy with two rules. The Policy Engine will:

         1. **Evaluate the first rule:** For a `signEvmTransaction` request, accept the request if the transaction is less than or equal to 1000000000000000000 wei OR
         1. **Evaluate the second rule:** if the request is a `signEvmTransaction` request, accept the request if the transaction is less than or equal to 2000000000000000000 wei AND the request is made to the address `0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE`.
         1. **If the request does not meet the criteria of either rule**, the engine will move on to evaluate an `account`-level policy (if one exists).
         1. Otherwise, the request is rejected.

      Rules are processed in the order they are defined. Once a rule applies to an operation, subsequent rules are ignored.
      ```json
      {
        "description": "Project-level policy",
        "scope": "project",
        "rules": [
          {
            "action": "accept",
            "operation": "signEvmTransaction",
            "criteria": [
              {
                "type": "ethValue",
                "ethValue": "1000000000000000000",
                "operator": "<="
              }
            ]
          },
          {
            "action": "accept",
            "operation": "signEvmTransaction",
            "criteria": [
              {
                "type": "ethValue",
                "ethValue": "2000000000000000000",
                "operator": "<="
              },
              {
                "type": "evmAddress",
                "addresses": [
                  "0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE"
                ],
                "operator": "in"
              }
            ]
          }
        ]
      }
      ```

      ## Policy Application

      Project-level policies are applied to all accounts in a CDP Project. They will apply retroactively even if the project-level policy is created after the account was created. To disable a project-level policy, you must remove the project-level policy from the CDP Project using the `deletePolicy` operation.

      Account-level policies can be applied in two ways:
      - By specifying the `accountPolicy` field in the request body of the `createEvmAccount` and
        `createSolAccount` operations.

      - By specifying the `accountPolicy` field in the request body of the `updateEvmAccount` and
        `updateSolanaAccount` operations.


      ## Criteria

      The following criteria are supported:

      ### SignEvmTransaction Criteria
      #### ethValue
      A criterion based on the value of the transaction. The transaction's `value` field is compared to the criterion's `ethValue` field using the `operator` field.
      #### evmAddress
      A criterion based on the recipient address of the transaction. The transaction's `to` field is compared to the criterion's `addresses` field using the `operator` field.
      #### evmData
      A criterion based on encoded transaction data that evaluates the function being called, as well as any number of arguments accessed by either name or index. Currently this criterion only supports primitive types; `string`, `bool`, `uint(8,16,32,64,256)`, `int(8,16,32,64,256)`, `address`, and both fixed and dynamic length `bytes`.
      #### netUSDChange
      A criterion based on the USD denominated market value of assets being transferred, or exposing the sender to. The types of assets included in the calculation include native assets, `ERC20`, `ERC721`, and `ERC1155` tokens. The sum total USD amount of assets being transferred and exposed is compared to the criterion's `changeCents` field using the `operator` field. If signing a testnet transaction, then this criterion configuration will be ignored.
      ### SendEvmTransaction Criteria
      #### ethValue
      A criterion based on the value of the transaction. The transaction's `value` field is compared to the criterion's `ethValue` field using the `operator` field.
      #### evmAddress
      A criterion based on the recipient address of the transaction. The transaction's `to` field is compared to the criterion's `addresses` field using the `operator` field.
      #### evmNetwork
      A criterion based on the intended network of the transaction. The `network` field in the `sendEvmTransaction` request body is compared to the criterion's `networks` field using the `operator` field.
      Valid networks for this criterion include:
        - `base`
        - `base-sepolia`
        - `ethereum`
        - `ethereum-sepolia`
        - `avalanche`
        - `polygon`
        - `optimism`
        - `arbitrum`

      #### evmData
      A criterion based on encoded transaction data that evaluates the function being called, as well as any number of arguments accessed by either name or index. Currently this criterion only supports primitive types; `string`, `bool`, `uint(8,16,32,64,256)`, `int(8,16,32,64,256)`, `address`, and both fixed and dynamic length `bytes`.
      #### netUSDChange
      A criterion based on the USD denominated market value of assets being transferred, or exposing the sender to. The types of assets included in the calculation include native assets, `ERC20`, `ERC721`, and `ERC1155` tokens. The sum total USD amount of assets being transferred and exposed is compared to the criterion's `changeCents` field using the `operator` field. If sending a testnet transaction, then this criterion configuration will be ignored.
      ### SendUserOperation Criteria
      #### ethValue
      A criterion based on the value of the user operation. The operation's `value` fields are compared to the criterion's `ethValue` field using the `operator` field.
      #### evmAddress
      A criterion based on the recipient address of the operation. The operation's `to` fields are compared to the criterion's `addresses` field using the `operator` field.
      #### evmData
      A criterion based on encoded transaction data that evaluates the function being called, as well as any number of arguments accessed by either name or index. Currently this criterion only supports primitive types; `string`, `bool`, `uint(8,16,32,64,256)`, `int(8,16,32,64,256)`, `address`, and both fixed and dynamic length `bytes`.
      ### PrepareUserOperation Criteria
      #### ethValue
      A criterion based on the value of the user operation. The operation's `value` fields are compared to the criterion's `ethValue` field using the `operator` field.
      #### evmAddress
      A criterion based on the recipient address of the user operation. The operation's `to` fields are compared to the criterion's `addresses` field using the `operator` field.
      #### evmNetwork
      A criterion based on the intended network of the user operation. The `network` field in the `prepareUserOperation` request body is compared to the criterion's `networks` field using the `operator` field.
      Valid networks for this criterion include:
        - `base-sepolia`
        - `base`
        - `arbitrum`
        - `optimism`
        - `zora`
        - `polygon`
        - `bnb`
        - `avalanche`
        - `ethereum`
        - `ethereum-sepolia`

      #### evmData
      A criterion based on encoded transaction data that evaluates the function being called, as well as any number of arguments accessed by either name or index. Currently this criterion only supports primitive types; `string`, `bool`, `uint(8,16,32,64,256)`, `int(8,16,32,64,256)`, `address`, and both fixed and dynamic length `bytes`.
      ### SignEvmHash Criteria
      The `signEvmHash` operation does not accept any criteria. To prevent this operation from being executed by any account, specify a rule with `signEvmHash` as the operation, and `reject` as its action.
      ### SignEvmMessage Criteria
      #### evmMessage
      A criterion based on the intended message to be signed. The `match` field in the criteria is a [RE2](https://github.com/google/re2/wiki/Syntax) compliant regular expression that will be executed against the message in the API request.
      ### SignSolMessage Criteria
      #### solMessage
      A criterion based on the intended message to be signed. The `match` field in the criteria is a [RE2](https://github.com/google/re2/wiki/Syntax) compliant regular expression that will be executed against the message in the API request.
      ### SignSolTransaction Criteria
      #### solAddress
      A criterion based on the recipient addresses of the transaction. The criterion's `address` field is compared to the list of addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### solValue
      A criterion based on the value of the transaction. The criterion's `solValue` field is compared to the transaction's `value`, which is the amount of SOL in lamports being transferred, using the `operator` field.
      #### splAddress
      A criterion based on the recipient addresses of SPL token transfer instructions in the transaction. The criterion's `addresses` field is compared to the list of SPL token transfer recipient addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### splValue
      A criterion based on the SPL token value of SPL token transfer instructions in the transaction. The criterion's `splValue` field is compared to the transaction instruction's `value` field, which is the amount of the SPL token being transferred, using the `operator` field.
      #### mintAddress
      A criterion based on the token mint addresses of SPL token transfer instructions in the transaction. The criterion's `addresses` field is compared to the list of token mint addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### solData
      A criterion based on Solana transaction instruction data. The criterion uses Interface Definition Language (IDL) specifications to decode and validate instruction data against specific rules. The `idls` field specifies which Solana programs to validate against (either known program names like "SystemProgram" and "TokenProgram", or custom IDL objects), and the `conditions` field defines instruction-specific validation rules including instruction names and parameter constraints.
      #### programId
      A criterion based on the program IDs of a transaction's instructions. The criterion's `programIds` field is compared to the list of program IDs in the transaction's instructions using the `operator` field.
      ### SendSolTransaction Criteria
      #### solAddress
      A criterion based on the recipient addresses of the transaction. The criterion's `address` field is compared to the list of addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### solValue
      A criterion based on the value of the transaction. The criterion's `solValue` field is compared to the transaction's `value`, which is the amount of SOL in lamports being transferred, using the `operator` field.
      #### splAddress
      A criterion based on the recipient addresses of SPL token transfer instructions in the transaction. The criterion's `addresses` field is compared to the list of SPL token transfer recipient addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### splValue
      A criterion based on the SPL token value of SPL token transfer instructions in the transaction. The criterion's `splValue` field is compared to the transaction instruction's `value` field, which is the amount of the SPL token being transferred, using the `operator` field.
      #### mintAddress
      A criterion based on the token mint addresses of SPL token transfer instructions in the transaction. The criterion's `addresses` field is compared to the list of token mint addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### solData
      A criterion based on Solana transaction instruction data. The criterion uses Interface Definition Language (IDL) specifications to decode and validate instruction data against specific rules. The `idls` field specifies which Solana programs to validate against (either known program names like "SystemProgram" and "TokenProgram", or custom IDL objects), and the `conditions` field defines instruction-specific validation rules including instruction names and parameter constraints.
      #### programId
      A criterion based on the program IDs of a transaction's instructions. The criterion's `programIds` field is compared to the list of program IDs in the transaction's instructions using the `operator` field.
      #### solNetwork
      A criterion based on the intended network of the transaction. The `network` field in the `sendSolanaTransaction` request body is compared to the criterion's `networks` field using the `operator` field.
      Valid networks for this criterion include:
        - `solana-devnet`
        - `solana`

      ## End User Criteria for Embedded Wallets
      End user criteria apply to operations performed by end users via embedded wallets. These criteria are only evaluated for policies with the `project` scope. The supported criterion types for each end user operation mirror their non-end-user counterparts.
      ### SignEndUserEvmTransaction Criteria
      #### ethValue
      A criterion based on the value of the transaction. The transaction's `value` field is compared to the criterion's `ethValue` field using the `operator` field.
      #### evmAddress
      A criterion based on the recipient address of the transaction. The transaction's `to` field is compared to the criterion's `addresses` field using the `operator` field.
      #### evmData
      A criterion based on encoded transaction data that evaluates the function being called, as well as any number of arguments accessed by either name or index. Currently this criterion only supports primitive types; `string`, `bool`, `uint(8,16,32,64,256)`, `int(8,16,32,64,256)`, `address`, and both fixed and dynamic length `bytes`.
      #### netUSDChange
      A criterion based on the USD denominated market value of assets being transferred, or exposing the sender to. The types of assets included in the calculation include native assets, `ERC20`, `ERC721`, and `ERC1155` tokens. The sum total USD amount of assets being transferred and exposed is compared to the criterion's `changeCents` field using the `operator` field. If signing a testnet transaction, then this criterion configuration will be ignored.
      ### SendEndUserEvmTransaction Criteria
      #### ethValue
      A criterion based on the value of the transaction. The transaction's `value` field is compared to the criterion's `ethValue` field using the `operator` field.
      #### evmAddress
      A criterion based on the recipient address of the transaction. The transaction's `to` field is compared to the criterion's `addresses` field using the `operator` field.
      #### evmNetwork
      A criterion based on the intended network of the transaction. The `network` field in the `sendEndUserEvmTransaction` request body is compared to the criterion's `networks` field using the `operator` field.
      Valid networks for this criterion include:
        - `base`
        - `base-sepolia`
        - `ethereum`
        - `ethereum-sepolia`
        - `avalanche`
        - `polygon`
        - `optimism`
        - `arbitrum`

      #### evmData
      A criterion based on encoded transaction data that evaluates the function being called, as well as any number of arguments accessed by either name or index. Currently this criterion only supports primitive types; `string`, `bool`, `uint(8,16,32,64,256)`, `int(8,16,32,64,256)`, `address`, and both fixed and dynamic length `bytes`.
      #### netUSDChange
      A criterion based on the USD denominated market value of assets being transferred, or exposing the sender to. The types of assets included in the calculation include native assets, `ERC20`, `ERC721`, and `ERC1155` tokens. The sum total USD amount of assets being transferred and exposed is compared to the criterion's `changeCents` field using the `operator` field. If sending a testnet transaction, then this criterion configuration will be ignored.
      ### SignEndUserEvmMessage Criteria
      #### evmMessage
      A criterion based on the intended message to be signed. The `match` field in the criteria is a [RE2](https://github.com/google/re2/wiki/Syntax) compliant regular expression that will be executed against the message in the API request.
      ### SignEndUserEvmTypedData Criteria
      #### evmTypedDataField
      A criterion based on the fields of the [EIP-712](https://eips.ethereum.org/EIPS/eip-712) typed data being signed. The `types` field specifies the EIP-712 type definitions and primary type, while the `conditions` field defines validation rules for specific fields within the typed data message. Conditions can target address fields, numerical fields, or string fields, and can reference deeply nested values using dot-separated paths.
      #### evmTypedDataVerifyingContract
      A criterion based on the verifying contract address in the [EIP-712](https://eips.ethereum.org/EIPS/eip-712) domain separator. The domain's `verifyingContract` field is compared to the criterion's `addresses` field using the `operator` field.
      ### SignEndUserSolTransaction Criteria
      #### solAddress
      A criterion based on the recipient addresses of the transaction. The criterion's `address` field is compared to the list of addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### solValue
      A criterion based on the value of the transaction. The criterion's `solValue` field is compared to the transaction's `value`, which is the amount of SOL in lamports being transferred, using the `operator` field.
      #### splAddress
      A criterion based on the recipient addresses of SPL token transfer instructions in the transaction. The criterion's `addresses` field is compared to the list of SPL token transfer recipient addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### splValue
      A criterion based on the SPL token value of SPL token transfer instructions in the transaction. The criterion's `splValue` field is compared to the transaction instruction's `value` field, which is the amount of the SPL token being transferred, using the `operator` field.
      #### mintAddress
      A criterion based on the token mint addresses of SPL token transfer instructions in the transaction. The criterion's `addresses` field is compared to the list of token mint addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### solData
      A criterion based on Solana transaction instruction data. The criterion uses Interface Definition Language (IDL) specifications to decode and validate instruction data against specific rules. The `idls` field specifies which Solana programs to validate against (either known program names like "SystemProgram" and "TokenProgram", or custom IDL objects), and the `conditions` field defines instruction-specific validation rules including instruction names and parameter constraints.
      #### programId
      A criterion based on the program IDs of a transaction's instructions. The criterion's `programIds` field is compared to the list of program IDs in the transaction's instructions using the `operator` field.
      ### SendEndUserSolTransaction Criteria
      #### solAddress
      A criterion based on the recipient addresses of the transaction. The criterion's `address` field is compared to the list of addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### solValue
      A criterion based on the value of the transaction. The criterion's `solValue` field is compared to the transaction's `value`, which is the amount of SOL in lamports being transferred, using the `operator` field.
      #### splAddress
      A criterion based on the recipient addresses of SPL token transfer instructions in the transaction. The criterion's `addresses` field is compared to the list of SPL token transfer recipient addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### splValue
      A criterion based on the SPL token value of SPL token transfer instructions in the transaction. The criterion's `splValue` field is compared to the transaction instruction's `value` field, which is the amount of the SPL token being transferred, using the `operator` field.
      #### mintAddress
      A criterion based on the token mint addresses of SPL token transfer instructions in the transaction. The criterion's `addresses` field is compared to the list of token mint addresses in the transaction's `accountKeys` (for legacy transactions) or `staticAccountKeys` (for V0 transactions) array using the `operator` field.
      #### solData
      A criterion based on Solana transaction instruction data. The criterion uses Interface Definition Language (IDL) specifications to decode and validate instruction data against specific rules. The `idls` field specifies which Solana programs to validate against (either known program names like "SystemProgram" and "TokenProgram", or custom IDL objects), and the `conditions` field defines instruction-specific validation rules including instruction names and parameter constraints.
      #### programId
      A criterion based on the program IDs of a transaction's instructions. The criterion's `programIds` field is compared to the list of program IDs in the transaction's instructions using the `operator` field.
      #### solNetwork
      A criterion based on the intended network of the transaction. The `network` field in the `sendEndUserSolTransaction` request body is compared to the criterion's `networks` field using the `operator` field.
      Valid networks for this criterion include:
        - `solana-devnet`
        - `solana`

      ### SignEndUserSolMessage Criteria
      #### solMessage
      A criterion based on the intended message to be signed. The `match` field in the criteria is a [RE2](https://github.com/google/re2/wiki/Syntax) compliant regular expression that will be executed against the message in the API request.
      ## Restricting Contract Interactions on Ethereum
      Smart contract function restrictions serve as a critical security and governance mechanism in decentralized applications, allowing developers and organizations to implement fine-grained access controls over their protocol interactions.
      One of the primary use cases for function restrictions is protecting high-risk operations from unauthorized access such as:
      - Fund transfers - Contract upgrades - Parameter modifications - Emergency pauses
      Policy Engine supports such restrictions that evaluate against transaction data with the `evmData` criterion for the `signEvmTransaction`, and `sendEvmTransaction` operations.
      ## Examples
      ### USD Limits
      The following example demonstrates a policy that only allows transactions to transfer, or expose the sender to, less than $100.00 worth of assets at a time. This USD denominated amount includes native assets, `ERC20`, `ERC721`, and `ERC1155` tokens calculated using current market prices.
      ```json {
        "scope": "account",
        "description": "Reject assets out over 100 USD",
        "rules": [
          {
            "action": "reject",
            "operation": "sendEvmTransaction",
            "criteria": [
              {
                "type": "netUSDChange",
                "changeCents": 10000,
                "operator": ">",
              },
            ],
          },
          {
            "action": "reject",
            "operation": "signEvmTransaction",
            "criteria": [
              {
                "type": "netUSDChange",
                "changeCents": 10000,
                "operator": ">",
              },
            ],
          },
        ],
      } ```
      ### Limiting USDC Spend
      This policy restricts USDC transactions on the Base network to transfers of 10,000 tokens or less. It applies to both signing and sending transactions to the USDC contract address, using the ERC20 ABI to validate that only `transfer` function calls with a `value` parameter under the specified limit are permitted.
      ```json {
        "description": "Limit USDC Spend",
        "scope": "account",
        "rules": [
          {
            "action": "accept",
            "operation": "sendEvmTransaction",
            "criteria": [
              {
                "type": "evmNetwork",
                "networks": ["base"],
                "operator": "in"
              },
              {
                "type": "evmAddress",
                "addresses": ["0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"],
                "operator": "in"
              },
              {
                "type": "evmData",
                "abi": "erc20",
                "conditions": [
                  {
                    "function": "transfer",
                    "params": [
                      {
                        "name": "value",
                        "operator": "<=",
                        "value": "10000"
                      }
                    ]
                  }
                ]
              }
            ]
          },
          {
            "action": "accept",
            "operation": "signEvmTransaction",
            "criteria": [
              {
                "type": "evmAddress",
                "addresses": ["0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"],
                "operator": "in"
              },
              {
                "type": "evmData",
                "abi": "erc20",
                "conditions": [
                  {
                    "function": "transfer",
                    "params": [
                      {
                        "name": "value",
                        "operator": "<=",
                        "value": "10000"
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      } ```.
  - name: Solana Accounts
    x-audience: public
    description: |-
      The Solana Account APIs enable you to create and use Solana accounts across SVM-compatible blockchains.

      An **account** is a private/public key pair that is used to sign transactions and messages. The private key is generated and used only in CDP's Trusted Execution Environment (TEE), and never exposed to Coinbase or the developer.

      A Solana account is identified by its **address**, which is a base-58 encoded string.

      Accounts can optionally be assigned an **account name** at creation time for easier identification in subsequent API calls. Solana account names must be globally unique across all Solana accounts in the developer's CDP Project.

      ## Authentication

      The Solana Account APIs use two layers of authentication to ensure the security of your accounts' private keys:

      - **CDP Secret API Key**: This key is used to authenticate all requests to the entire suite of
         REST APIs offered on Coinbase Developer Platform.
      - **Wallet Secret**: This secret is used specifically to authenticate sensitive wallet operations
        to `POST` and `DELETE` endpoints in the EVM and Solana Account APIs.


      To learn more about creating and using these keys, visit our [Authentication docs](https://docs.cdp.coinbase.com/api-reference/v2/authentication).

      <Tip>


      **Use our SDK**


      The [CDP SDK](https://github.com/coinbase/cdp-sdk) automatically authenticates requests using your CDP Secret API Key and Wallet Secret. Use the CDP SDK for a more convenient access to our APIs.


      </Tip>
  - name: Solana Token Balances
    x-audience: public
    description: |-
      The Solana Token Balances APIs enable you to retrieve the balances of Solana addresses.
      This includes SPL tokens and the native SOL token of the network.
      ## Denomination
      - 'amount' is denominated in the smallest indivisible unit of the token. For SOL, the smallest indivisible unit is lamports (10^-9 SOL). For SPL tokens, the smallest unit is defined by the token's decimals configuration.
      - 'decimals' is the exponential value N that satisfies the equation `amount * 10^-N = standard_denomination`. The standard denomination is the most commonly used denomination for the token.

        - For native SOL, `decimals` is 9 (1 SOL = 10^9 lamports).
        - For SPL tokens, `decimals` is defined in the token's mint configuration.
  - name: SQL API
    x-audience: public
    description: The SQL API enables you to write performant, high-freshness, and endlessly flexible SQL queries against onchain data.
  - name: Webhooks
    x-audience: public
    description: Subscribe to real-time events across CDP products. Monitor onchain activity on Base mainnet, track onramp/offramp transactions, and receive instant notifications for wallet events.
  - name: x402 Facilitator
    x-audience: public
    description: |-
      The x402 payment protocol is an HTTP-based payment protocol that enables developers running resource servers to accept payments from users using a variety of payment methods.
      For more details on the x402 payment protocol, please see the [x402 specification](https://www.x402.org/).
      The x402 Facilitator APIs enable you to facilitate payments using the x402 payment protocol by exposing two APIs:
      - `POST /v2/x402/verify`: Verify a payment with a supported scheme and network.
      - `POST /v2/x402/settle`: Settle a payment with a supported scheme and network.
paths:
  /v2/end-users:
    post:
      summary: Create an end user
      description: |-
        Creates an end user. An end user is an entity that can own CDP EVM accounts, EVM smart accounts, and/or Solana accounts. 1 or more authentication methods must be associated with an end user. By default, no accounts are created unless the optional `evmAccount` and/or `solanaAccount` fields are provided.
        This API is intended to be used by the developer's own backend, and is authenticated using the developer's CDP API key.
      operationId: createEndUser
      tags:
        - End User Accounts
      x-audience: public
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: |-
                    A stable, unique identifier for the end user. The `userId` must be unique across all end users in the developer's CDP Project. It must be between 1 and 100 characters long and can only contain alphanumeric characters and hyphens.

                    If `userId` is not provided in the request, the server will generate a random UUID.
                  type: string
                  pattern: ^[a-zA-Z0-9-]{1,100}$
                  example: e051beeb-7163-4527-a5b6-35e301529ff2
                authenticationMethods:
                  $ref: '#/components/schemas/AuthenticationMethods'
                evmAccount:
                  type: object
                  description: Configuration for creating an EVM account for the end user.
                  properties:
                    createSmartAccount:
                      type: boolean
                      description: If true, creates an EVM smart account and a default EVM EOA account as the owner. If false, only a EVM EOA account is created.
                      default: false
                      example: true
                    enableSpendPermissions:
                      type: boolean
                      description: If true, enables spend permissions for the EVM smart account.
                      example: true
                solanaAccount:
                  type: object
                  description: Configuration for creating a Solana account for the end user.
                  properties:
                    createSmartAccount:
                      type: boolean
                      description: Only false is a valid option since currently smart accounts on Solana are not supported.
                      default: false
                      example: false
              required:
                - authenticationMethods
            examples:
              default_behavior:
                summary: Default (no accounts created)
                value:
                  authenticationMethods:
                    - type: email
                      email: user@example.com
              evm_only:
                summary: EVM account only
                value:
                  authenticationMethods:
                    - type: email
                      email: user@example.com
                  evmAccount: {}
              evm_with_smart_account:
                summary: EVM only with smart account
                value:
                  authenticationMethods:
                    - type: email
                      email: user@example.com
                  evmAccount:
                    createSmartAccount: true
              solana_only:
                summary: Solana account only
                value:
                  authenticationMethods:
                    - type: sms
                      phoneNumber: '+15555551234'
                  solanaAccount:
                    createSmartAccount: false
              evm_and_solana:
                summary: Both EVM and Solana accounts
                value:
                  authenticationMethods:
                    - type: sms
                      phoneNumber: '+15555551234'
                  evmAccount:
                    createSmartAccount: true
                  solanaAccount:
                    createSmartAccount: false
      responses:
        '201':
          description: Successfully created end user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUser'
              examples:
                default_no_accounts:
                  summary: Default behavior - No accounts created
                  value:
                    userId: user-001
                    authenticationMethods:
                      - type: email
                        email: user@example.com
                    evmAccounts: []
                    evmAccountObjects: []
                    evmSmartAccounts: []
                    evmSmartAccountObjects: []
                    solanaAccounts: []
                    solanaAccountObjects: []
                    createdAt: '2025-11-17T10:00:00Z'
                evm_smart_account_only:
                  summary: EVM smart account only
                  value:
                    userId: user-003
                    authenticationMethods:
                      - type: email
                        email: user@example.com
                    evmAccounts:
                      - '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                    evmAccountObjects:
                      - address: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                        createdAt: '2025-11-17T10:00:00Z'
                    evmSmartAccounts:
                      - '0x842d35Cc6634C0532925a3b844Bc454e4438f55f'
                    evmSmartAccountObjects:
                      - address: '0x842d35Cc6634C0532925a3b844Bc454e4438f55f'
                        ownerAddresses:
                          - '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                        createdAt: '2025-11-17T10:00:00Z'
                    solanaAccounts: []
                    solanaAccountObjects: []
                    createdAt: '2025-11-17T10:00:00Z'
                solana_only:
                  summary: Solana account only
                  value:
                    userId: user-004
                    authenticationMethods:
                      - type: sms
                        phoneNumber: '+15555551234'
                    evmAccounts: []
                    evmAccountObjects: []
                    evmSmartAccounts: []
                    evmSmartAccountObjects: []
                    solanaAccounts:
                      - HpabPRRCFbBKSuJr5PdkVvQc85FyxyTWkFM2obBRSvHT
                    solanaAccountObjects:
                      - address: HpabPRRCFbBKSuJr5PdkVvQc85FyxyTWkFM2obBRSvHT
                        createdAt: '2025-11-17T10:00:00Z'
                    createdAt: '2025-11-17T10:00:00Z'
                evm_no_smart_account:
                  summary: EVM without smart account
                  value:
                    userId: user-004
                    authenticationMethods:
                      - type: email
                        email: user@example.com
                    evmAccounts:
                      - '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                    evmAccountObjects:
                      - address: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                        createdAt: '2025-11-17T10:00:00Z'
                    evmSmartAccounts: []
                    evmSmartAccountObjects: []
                    solanaAccounts: []
                    solanaAccountObjects: []
                    createdAt: '2025-11-17T10:00:00Z'
                multiple_accounts:
                  summary: End user with multiple accounts created
                  value:
                    userId: user-005
                    authenticationMethods:
                      - type: email
                        email: user@example.com
                    evmAccounts:
                      - '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                      - '0x8F2A9B5C3D4E6F7A8B9C0D1E2F3A4B5C6D7E8F9A'
                      - '0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0'
                    evmAccountObjects:
                      - address: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                        createdAt: '2025-11-17T10:00:00Z'
                      - address: '0x8F2A9B5C3D4E6F7A8B9C0D1E2F3A4B5C6D7E8F9A'
                        createdAt: '2025-11-17T10:05:00Z'
                      - address: '0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0'
                        createdAt: '2025-11-17T10:10:00Z'
                    evmSmartAccounts:
                      - '0x842d35Cc6634C0532925a3b844Bc454e4438f55f'
                      - '0x9D3E4F5A6B7C8D9E0F1A2B3C4D5E6F7A8B9C0D1E'
                    evmSmartAccountObjects:
                      - address: '0x842d35Cc6634C0532925a3b844Bc454e4438f55f'
                        ownerAddresses:
                          - '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                        createdAt: '2025-11-17T10:02:00Z'
                      - address: '0x9D3E4F5A6B7C8D9E0F1A2B3C4D5E6F7A8B9C0D1E'
                        ownerAddresses:
                          - '0x8F2A9B5C3D4E6F7A8B9C0D1E2F3A4B5C6D7E8F9A'
                        createdAt: '2025-11-17T10:07:00Z'
                    solanaAccounts:
                      - HpabPRRCFbBKSuJr5PdkVvQc85FyxyTWkFM2obBRSvHT
                      - 9ZN8wT6gKxLmJvP4rQnYt7VxKwL3mN9rT8Qx2WzJpK5s
                    solanaAccountObjects:
                      - address: HpabPRRCFbBKSuJr5PdkVvQc85FyxyTWkFM2obBRSvHT
                        createdAt: '2025-11-17T10:15:00Z'
                      - address: 9ZN8wT6gKxLmJvP4rQnYt7VxKwL3mN9rT8Qx2WzJpK5s
                        createdAt: '2025-11-17T10:20:00Z'
                    createdAt: '2025-11-17T10:00:00Z'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    errorType: invalid_request
                    errorMessage: At least one authentication method must be provided.
                solana_smart_account_not_supported:
                  value:
                    errorType: invalid_request
                    errorMessage: The request contains one or more unsupported options.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unauthorized:
                  value:
                    errorType: unauthorized
                    errorMessage: Wallet authentication error.
        '402':
          $ref: '#/components/responses/PaymentMethodRequiredError'
        '422':
          $ref: '#/components/responses/IdempotencyError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      x-audience: public
      summary: List end users
      description: |-
        Lists the end users belonging to the developer's CDP Project.
        By default, the response is sorted by creation date in ascending order and paginated to 20 users per page.
      operationId: listEndUsers
      tags:
        - End User Accounts
      security:
        - apiKeyAuth: []
      parameters:
        - name: pageSize
          description: The number of end users to return per page.
          in: query
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          example: 10
        - name: pageToken
          description: The token for the desired page of end users. Will be empty if there are no more end users to fetch.
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0X2lkIjogImFiYzEyMyIsICJ0aW1lc3RhbXAiOiAxNzA3ODIzNzAxfQ==
        - name: sort
          description: Sort end users. Defaults to ascending order (oldest first).
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - createdAt=asc
                - createdAt=desc
          example:
            - createdAt=asc
          style: form
          explode: false
      responses:
        '200':
          description: Successfully retrieved end users.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - endUsers
                    properties:
                      endUsers:
                        type: array
                        description: The list of end users.
                        items:
                          $ref: '#/components/schemas/EndUser'
                  - $ref: '#/components/schemas/ListResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    errorType: invalid_request
                    errorMessage: Invalid project ID.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGatewayError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v2/end-users/auth/validate-token:
    post:
      x-audience: public
      summary: Validate end user access token
      description: |-
        Validates the end user's access token and returns the end user's information. Returns an error if the access token is invalid or expired.

        This API is intended to be used by the developer's own backend, and is authenticated using the developer's CDP API key.
      operationId: validateEndUserAccessToken
      tags:
        - End User Accounts
      security:
        - apiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The request body for a developer to verify an end user's access token.
              properties:
                accessToken:
                  type: string
                  description: The access token in JWT format to verify.
                  example: eyJhbGciOiJFUzI1NiIsImtpZCI6IjA1ZGNmYTU1LWY1NzktNDg5YS1iNThhLTFlMDI5Nzk0N2VlNiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJjZHAtYXBpIiwiYXV0aF90eXBlIjoiZW1haWwiLCJleHAiOjE3NTM5ODAyOTksImlhdCI6MTc1Mzk3ODQ5OSwiaXNzIjoiY2RwLWFwaSIsImp0aSI6IjA3ZWY5M2JlLTYzMDQtNGQ1YS05NmE3LWJlMGI5MWI0ZTE3NCIsInByb2plY3RfaWQiOiJjNzRkOGI4OC0wOTNiLTQyZDItOGE4Yy1kZGM1YzVlMGViNDMiLCJzdWIiOiJjYTM4YTM4ZC0xNmE5LTRkMjYtYTcxZC0zOWY2NmY5YzZiN2UifQ.1SU0pOy-WR002qUw4hd_UmZWRSLz-ZL6v7PvQvZMKVE6a51x_tqeUeRGaTGuYl1whg0eccMObmK7FqXKRH6E4g
              required:
                - accessToken
      responses:
        '200':
          description: Confirms that the access token is valid and returns the end user's information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUser'
        '400':
          description: Request body is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    errorType: invalid_request
                    errorMessage: Missing access token
        '401':
          description: Request is not properly authenticated, or the access token is invalid or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unauthorized:
                  value:
                    errorType: unauthorized
                    errorMessage: 'Invalid JWT issuer: not-cdp-api, expected: cdp-api'
        '404':
          description: End user not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    errorType: not_found
                    errorMessage: End user not found
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/end-users/{userId}:
    get:
      x-audience: public
      summary: Get an end user
      description: |-
        Gets an end user by ID.

        This API is intended to be used by the developer's own backend, and is authenticated using the developer's CDP API key.
      operationId: getEndUser
      tags:
        - End User Accounts
      security:
        - apiKeyAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the end user to get.
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-]{1,100}$
          example: e051beeb-7163-4527-a5b6-35e301529ff2
      responses:
        '200':
          description: Successfully got end user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUser'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    errorType: not_found
                    errorMessage: End user with the given ID not found.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/end-users/{userId}/evm:
    post:
      summary: Add an EVM account to an end user
      description: |-
        Adds a new EVM EOA account to an existing end user. End users can have up to 10 EVM accounts.
        This API is intended to be used by the developer's own backend, and is authenticated using the developer's CDP API key.
      operationId: addEndUserEvmAccount
      tags:
        - End User Accounts
      x-audience: public
      security:
        - apiKeyAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the end user to add the account to.
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-]{1,100}$
          example: e051beeb-7163-4527-a5b6-35e301529ff2
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
            examples:
              default:
                summary: Create EVM EOA account
                value: {}
      responses:
        '201':
          description: Successfully added EVM account to end user.
          content:
            application/json:
              schema:
                type: object
                required:
                  - evmAccount
                properties:
                  evmAccount:
                    $ref: '#/components/schemas/EndUserEvmAccount'
              examples:
                default:
                  summary: EVM EOA account created
                  value:
                    evmAccount:
                      address: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                      createdAt: '2025-11-17T10:00:00Z'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                max_accounts_reached:
                  value:
                    errorType: invalid_request
                    errorMessage: Maximum number of EVM accounts (10) reached for this end user.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unauthorized:
                  value:
                    errorType: unauthorized
                    errorMessage: Wallet authentication error.
        '402':
          $ref: '#/components/responses/PaymentMethodRequiredError'
        '404':
          description: End user not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    errorType: not_found
                    errorMessage: End user with the given ID not found.
        '422':
          $ref: '#/components/responses/IdempotencyError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGatewayError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v2/end-users/{userId}/evm-smart-account:
    post:
      summary: Add an EVM smart account to an end user
      description: |-
        Creates an EVM smart account for an existing end user. The backend will create a new EVM EOA account to serve as the owner of the smart account.
        This API is intended to be used by the developer's own backend, and is authenticated using the developer's CDP API key.
      operationId: addEndUserEvmSmartAccount
      tags:
        - End User Accounts
      x-audience: public
      security:
        - apiKeyAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the end user to add the smart account to.
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-]{1,100}$
          example: e051beeb-7163-4527-a5b6-35e301529ff2
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enableSpendPermissions:
                  type: boolean
                  description: If true, enables spend permissions for the EVM smart account.
                  default: false
                  example: true
            examples:
              default:
                summary: Create smart account
                value: {}
              with_spend_permissions:
                summary: Create smart account with spend permissions
                value:
                  enableSpendPermissions: true
      responses:
        '201':
          description: Successfully added EVM smart account to end user.
          content:
            application/json:
              schema:
                type: object
                required:
                  - evmSmartAccount
                properties:
                  evmSmartAccount:
                    $ref: '#/components/schemas/EndUserEvmSmartAccount'
              examples:
                default:
                  summary: EVM smart account created
                  value:
                    evmSmartAccount:
                      address: '0x842d35Cc6634C0532925a3b844Bc454e4438f55f'
                      ownerAddresses:
                        - '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                      createdAt: '2025-11-17T10:00:00Z'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                max_accounts_reached:
                  value:
                    errorType: invalid_request
                    errorMessage: Maximum number of EVM smart accounts (10) reached for this end user.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unauthorized:
                  value:
                    errorType: unauthorized
                    errorMessage: Wallet authentication error.
        '402':
          $ref: '#/components/responses/PaymentMethodRequiredError'
        '404':
          description: End user not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    errorType: not_found
                    errorMessage: End user with the given ID not found.
        '422':
          $ref: '#/components/responses/IdempotencyError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGatewayError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v2/end-users/{userId}/solana:
    post:
      summary: Add a Solana account to an end user
      description: |-
        Adds a new Solana account to an existing end user. End users can have  up to 10 Solana accounts.
        This API is intended to be used by the developer's own backend, and is authenticated using the developer's CDP API key.
      operationId: addEndUserSolanaAccount
      tags:
        - End User Accounts
      x-audience: public
      security:
        - apiKeyAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the end user to add the account to.
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-]{1,100}$
          example: e051beeb-7163-4527-a5b6-35e301529ff2
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
            examples:
              default:
                summary: Create Solana account
                value: {}
      responses:
        '201':
          description: Successfully added Solana account to end user.
          content:
            application/json:
              schema:
                type: object
                required:
                  - solanaAccount
                properties:
                  solanaAccount:
                    $ref: '#/components/schemas/EndUserSolanaAccount'
              examples:
                default:
                  summary: Solana account created
                  value:
                    solanaAccount:
                      address: HpabPRRCFbBKSuJr5PdkVvQc85FyxyTWkFM2obBRSvHT
                      createdAt: '2025-11-17T10:00:00Z'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                max_accounts_reached:
                  value:
                    errorType: invalid_request
                    errorMessage: Maximum number of Solana accounts (10) reached for this end user.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unauthorized:
                  value:
                    errorType: unauthorized
                    errorMessage: Wallet authentication error.
        '402':
          $ref: '#/components/responses/PaymentMethodRequiredError'
        '404':
          description: End user not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    errorType: not_found
                    errorMessage: End user with the given ID not found.
        '422':
          $ref: '#/components/responses/IdempotencyError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGatewayError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v2/end-users/import:
    post:
      summary: Import a private key for an end user
      description: |-
        Imports an existing private key for an end user into the developer's CDP Project. The private key must be encrypted using the CDP SDK's encryption scheme before being sent to this endpoint. This API should be called from the [CDP SDK](https://github.com/coinbase/cdp-sdk) to ensure that the associated private key is properly encrypted.

        This endpoint allows developers to import existing keys for their end users, supporting both EVM and Solana key types. The end user must have at least one authentication method configured.
      operationId: importEndUser
      tags:
        - End User Accounts
      x-audience: public
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  description: A stable, unique identifier for the end user. The `userId` must be unique across all end users in the developer's CDP Project. It must be between 1 and 100 characters long and can only contain alphanumeric characters and hyphens.
                  type: string
                  pattern: ^[a-zA-Z0-9-]{1,100}$
                  example: e051beeb-7163-4527-a5b6-35e301529ff2
                authenticationMethods:
                  $ref: '#/components/schemas/AuthenticationMethods'
                encryptedPrivateKey:
                  type: string
                  description: The base64-encoded, encrypted private key to import. The private key must be encrypted using the CDP SDK's encryption scheme. This is a 32-byte raw private key.
                  example: U2FsdGVkX1+vupppZksvRf5X5YgHq4+da+Q4qf51+Q4=
                keyType:
                  type: string
                  description: The type of key being imported. Determines what type of account will be associated for the end user.
                  enum:
                    - evm
                    - solana
                  example: evm
              required:
                - userId
                - authenticationMethods
                - encryptedPrivateKey
                - keyType
            examples:
              import_evm_key:
                summary: Import an EVM private key
                value:
                  userId: user-001
                  authenticationMethods:
                    - type: email
                      email: user@example.com
                  encryptedPrivateKey: U2FsdGVkX1+vupppZksvRf5X5YgHq4+da+Q4qf51+Q4=
                  keyType: evm
              import_solana_key:
                summary: Import a Solana private key
                value:
                  userId: user-002
                  authenticationMethods:
                    - type: sms
                      phoneNumber: '+15555551234'
                  encryptedPrivateKey: U2FsdGVkX1+vupppZksvRf5X5YgHq4+da+Q4qf51+Q4=
                  keyType: solana
              import_evm_key_with_jwt_auth:
                summary: Import an EVM private key with JWT authentication
                value:
                  userId: user-003
                  authenticationMethods:
                    - type: jwt
                      sub: e051beeb-7163-4527-a5b6-35e301529ff2
                      kid: NjVBRjY5MDlCMUIwNzU4RTA2QzZFMDQ4QzQ2MDAyQjVDNjk1RTM2Qg
                  encryptedPrivateKey: U2FsdGVkX1+vupppZksvRf5X5YgHq4+da+Q4qf51+Q4=
                  keyType: evm
      responses:
        '201':
          description: Successfully imported key and created end user with the associated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUser'
              examples:
                evm_key_imported:
                  summary: End user with imported EVM account
                  value:
                    userId: user-001
                    authenticationMethods:
                      - type: email
                        email: user@example.com
                    evmAccounts:
                      - '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                    evmAccountObjects:
                      - address: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                        createdAt: '2025-11-17T10:00:00Z'
                    evmSmartAccounts: []
                    evmSmartAccountObjects: []
                    solanaAccounts: []
                    solanaAccountObjects: []
                    createdAt: '2025-11-17T10:00:00Z'
                solana_key_imported:
                  summary: End user with imported Solana account
                  value:
                    userId: user-002
                    authenticationMethods:
                      - type: sms
                        phoneNumber: '+15555551234'
                    evmAccounts: []
                    evmAccountObjects: []
                    evmSmartAccounts: []
                    evmSmartAccountObjects: []
                    solanaAccounts:
                      - HpabPRRCFbBKSuJr5PdkVvQc85FyxyTWkFM2obBRSvHT
                    solanaAccountObjects:
                      - address: HpabPRRCFbBKSuJr5PdkVvQc85FyxyTWkFM2obBRSvHT
                        createdAt: '2025-11-17T10:00:00Z'
                    createdAt: '2025-11-17T10:00:00Z'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_key:
                  value:
                    errorType: invalid_request
                    errorMessage: The encrypted private key is invalid.
                invalid_key_type:
                  value:
                    errorType: invalid_request
                    errorMessage: Invalid key type. Must be 'evm' or 'solana'.
                missing_auth_methods:
                  value:
                    errorType: invalid_request
                    errorMessage: At least one authentication method must be provided.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unauthorized:
                  value:
                    errorType: unauthorized
                    errorMessage: Wallet authentication error.
        '402':
          $ref: '#/components/responses/PaymentMethodRequiredError'
        '409':
          description: Resource already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                already_exists:
                  value:
                    errorType: already_exists
                    errorMessage: An account with the given address already exists.
        '422':
          $ref: '#/components/responses/IdempotencyError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGatewayError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v2/embedded-wallet-api/projects/{projectId}/end-users/{userId}/evm/sign:
    post:
      x-audience: public
      summary: Sign a hash with end user EVM account
      description: Signs an arbitrary 32 byte hash with the end user's given EVM account.
      operationId: signEvmHashWithEndUserAccount
      tags:
        - Embedded Wallets (Core Functionality)
      security:
        - endUserAuth: []
      parameters:
        - name: projectId
          in: path
          required: true
          description: The ID of the CDP Project.
          schema:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            example: 8e03978e-40d5-43e8-bc93-6894a57f9324
        - name: userId
          in: path
          required: true
          description: The ID of the end user.
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-]{1,100}$
            example: e051beeb-7163-4527-a5b6-35e301529ff2
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XDeveloperAuth'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hash:
                  type: string
                  description: The arbitrary 32 byte hash to sign.
                  example: '0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef'
                address:
                  type: string
                  description: The 0x-prefixed address of the EVM account belonging to the end user.
                  example: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                  pattern: ^0x[0-9a-fA-F]{40}$
                walletSecretId:
                  description: Required when not using delegated signing. The ID of the Temporary Wallet Secret that was used to sign the X-Wallet-Auth Header.
                  type: string
                  pattern: ^[a-zA-Z0-9-]{1,100}$
                  example: e051beeb-7163-4527-a5b6-35e301529ff2
              required:
                - hash
                - address
      responses:
        '200':
          description: Successfully signed hash.
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: The signature of the hash, as a 0x-prefixed hex string.
                    example: '0x1b0c9cf8cd4554c6c6d9e7311e88f1be075d7f25b418a044f4bf2c0a42a93e212ad0a8b54de9e0b5f7e3812de3f2c6cc79aa8c3e1c02e7ad14b4a8f42012c2c01b'
                required:
                  - signature
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_request:
                  value:
                    errorType: invalid_request
                    errorMessage: Request body must be specified.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          $ref: '#/components/responses/PaymentMethodRequiredError'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    errorType: not_found
                    errorMessage: End user with the given ID not found.
        '409':
          $ref: '#/components/responses/AlreadyExistsError'
        '422':
          $ref: '#/components/responses/IdempotencyError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGatewayError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v2/embedded-wallet-api/projects/{projectId}/end-users/{userId}/evm/sign/transaction:
    post:
      x-audience: public
      summary: Sign a transaction with end user EVM account
      description: |-
        Signs a transaction with the given end user EVM account.
        The transaction should be serialized as a hex string using [RLP](https://ethereum.org/en/developers/docs/data-structures-and-encoding/rlp/).

        The transaction must be an [EIP-1559 dynamic fee transaction](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1559.md). The developer is responsible for ensuring that the unsigned transaction is valid, as the API will not validate the transaction.
      operationId: signEvmTransactionWithEndUserAccount
      tags:
        - Embedded Wallets (Core Functionality)
      security:
        - endUserAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: projectId
          description: The ID of the CDP Project.
          in: path
          required: true
          schema:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            example: 8e03978e-40d5-43e8-bc93-6894a57f9324
        - name: userId
          description: The ID of the end user.
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-]{1,100}$
            example: e051beeb-7163-4527-a5b6-35e301529ff2
        - $ref: '#/components/parameters/XDeveloperAuth'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: The 0x-prefixed address of the EVM account belonging to the end user.
                  example: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                  pattern: ^0x[0-9a-fA-F]{40}$
                transaction:
                  type: string
                  description: The RLP-encoded transaction to sign, as a 0x-prefixed hex string.
                  example: '0xf86b098505d21dba00830334509431415daf58e2c6b7323b4c58712fd92952145da79018080'
                walletSecretId:
                  description: Required when not using delegated signing. The ID of the Temporary Wallet Secret that was used to sign the X-Wallet-Auth Header.
                  type: string
                  pattern: ^[a-zA-Z0-9-]{1,100}$
                  example: e051beeb-7163-4527-a5b6-35e301529ff2
              required:
                - address
                - transaction
      responses:
        '200':
          description: Successfully signed transaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  signedTransaction:
                    type: string
                    description: The RLP-encoded signed transaction, as a 0x-prefixed hex string.
                    example: '0x1b0c9cf8cd4554c6c6d9e7311e88f1be075d7f25b418a044f4bf2c0a42a93e212ad0a8b54de9e0b5f7e3812de3f2c6cc79aa8c3e1c02e7ad14b4a8f42012c2c01b'
                required:
                  - signedTransaction
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                malformed_transaction:
                  value:
                    errorType: malformed_transaction
                    errorMessage: Malformed unsigned transaction.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          $ref: '#/components/responses/PaymentMethodRequiredError'
        '403':
          description: Access to resource forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                forbidden:
                  value:
                    errorType: forbidden
                    errorMessage: Unable to sign transaction for this address.
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    errorType: not_found
                    errorMessage: EVM account with the given address not found.
        '409':
          $ref: '#/components/responses/AlreadyExistsError'
        '422':
          $ref: '#/components/responses/IdempotencyError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGatewayError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v2/embedded-wallet-api/projects/{projectId}/end-users/{userId}/evm/send/transaction:
    post:
      x-audience: public
      summary: Send a transaction with end user EVM account
      description: |-
        Signs a transaction with the given end user EVM account and sends it to the indicated supported network. This API handles nonce management and gas estimation, leaving the developer to provide only the minimal set of fields necessary to send the transaction. The transaction should be serialized as a hex string using [RLP](https://ethereum.org/en/developers/docs/data-structures-and-encoding/rlp/).

        The transaction must be an [EIP-1559 dynamic fee transaction](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1559.md).


        **Transaction fields and API behavior**

        - `to` *(Required)*: The address of the contract or account to send the transaction to.
        - `chainId` *(Ignored)*: The value of the `chainId` field in the transaction is ignored.
          The transaction will be sent to the network indicated by the `network` field in the request body.

        - `nonce` *(Optional)*: The nonce to use for the transaction. If not provided, the API will assign
           a nonce to the transaction based on the current state of the account.

        - `maxPriorityFeePerGas` *(Optional)*: The maximum priority fee per gas to use for the transaction.
           If not provided, the API will estimate a value based on current network conditions.

        - `maxFeePerGas` *(Optional)*: The maximum fee per gas to use for the transaction.
           If not provided, the API will estimate a value based on current network conditions.

        - `gasLimit` *(Optional)*: The gas limit to use for the transaction. If not provided, the API will estimate a value
          based on the `to` and `data` fields of the transaction.

        - `value` *(Optional)*: The amount of ETH, in wei, to send with the transaction.
        - `data` *(Optional)*: The data to send with the transaction; only used for contract calls.
        - `accessList` *(Optional)*: The access list to use for the transaction.
      operationId: sendEvmTransactionWithEndUserAccount
      tags:
        - Embedded Wallets (Core Functionality)
      security:
        - endUserAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: projectId
          in: path
          required: true
          description: The ID of the CDP Project.
          schema:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            example: 8e03978e-40d5-43e8-bc93-6894a57f9324
        - name: userId
          description: The ID of the end user.
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-]{1,100}$
            example: e051beeb-7163-4527-a5b6-35e301529ff2
        - $ref: '#/components/parameters/XDeveloperAuth'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: The 0x-prefixed address of the EVM account belonging to the end user.
                  example: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
                  pattern: ^0x[0-9a-fA-F]{40}$
                network:
                  type: string
                  description: The network to send the transaction to.
                  enum:
                    - base
                    - base-sepolia
                    - ethereum
                    - ethereum-sepolia
                    - avalanche
                    - polygon
                    - optimism
                    - arbitrum
                  example: base-sepolia
                walletSecretId:
                  description: Required when not using delegated signing. The ID of the Temporary Wallet Secret that was used to sign the X-Wallet-Auth Header.
                  type: string
                  pattern: ^[a-zA-Z0-9-]{1,100}$
                  example: e051beeb-7163-4527-a5b6-35e301529ff2
                transaction:
                  type: string
                  description: The RLP-encoded transaction to sign and send, as a 0x-prefixed hex string.
                  example: '0xf86b098505d21dba00830334509431415daf58e2c6b7323b4c58712fd92952145da79018080'
              required:
                - address
                - transaction
                - network
      responses:
        '200':
          description: Successfully signed and sent transaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionHash:
                    type: string
                    description: The hash of the transaction, as a 0x-prefixed hex string.
                    example: '0xf8f98fb6726fc936f24b2007df5cb20e2b8444ff3dfaa2a929335f432a9be2e7'
                required:
                  - transactionHash
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                malformed_transaction:
                  value:
                    errorType: malformed_transaction
                    errorMessage: Malformed unsigned transaction.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          $ref: '#/components/responses/PaymentMethodRequiredError'
        '403':
          description: Access to resource forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                forbidden:
                  value:
                    errorType: forbidden
                    errorMessage: Unable to sign transaction for this address.
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  value:
                    errorType: not_found
                    errorMessage: EVM account with the given address not found.
        '409':
          $ref: '#/components/responses/AlreadyExistsError'
        '422':
          $ref: '#/components/responses/IdempotencyError'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGatewayError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v2/embedded-wallet-api/projects/{projectId}/end-users/{userId}/evm/{address}/send/{asset}:
    post:
      x-audience: public
      summary: Send USDC on EVM
      description: |-
        Sends USDC from an end user's EVM account (EOA or Smart Account) to a recipient address on a supported EVM network. This endpoint simplifies USDC transfers by automatically handling contract resolution, decimal conversion, gas estimation, and transaction encoding.
        The `amount` field accepts human-readable amounts as decimal strings (e.g., "1.5", "25.50").
      operationId: sendEvmAssetWithEndUserAccount
      tags:
        - Embedded Wallets (Core Functionality)
      security:
        - endUserAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/XWalletAuth'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: projectId
          in: path
          required: true
          description: The ID of the CDP Project.
          schema:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            example: 8e03978e-40d5-43e8-bc93-6894a57f9324
        - name: userId
          in: path
          required: true
          description: The ID of the end user.
          schema:
            type: string
            pattern: ^[a-zA-Z0-9-]{1,100}$
          example: e051beeb-7163-4527-a5b6-35e301529ff2
        - name: address
          description: The 0x-prefixed address of the EVM account (EOA or Smart Account) to send USDC from. The address does not need to be checksummed.
          in: path
          required: true
          schema:
            allOf:
              - $ref: '#/components/schemas/BlockchainAddress'
            pattern: ^0x[0-9a-fA-F]{40}$
          example: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
        - name: asset
          in: path
          required: true
          description: The asset to send. Currently only "usdc" is supported.
          schema:
            allOf:
              - $ref: '#/components/schemas/Asset'
            enum:
              - usdc
          example: usdc
        - $ref: '#/components/parameters/XDeveloperAuth'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  allOf:
[...]
