/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.CreateDisbursementRequest;
import com.coinbase.cdp.openapi.model.Disbursement;
import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.ListDisbursements200Response;
import com.coinbase.cdp.openapi.model.PaymentActionStatus;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class DisbursementsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DisbursementsApi() {
    this(new ApiClient());
  }

  public DisbursementsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create a disbursement
   * Creates a merchant-initiated payment of funds from a CDP account owned by the merchant to a Coinbase user account or onchain address. Used for standalone refunds, goodwill disbursements, rebates, and other merchant-driven payouts that are not tied to a specific payment session.  This is an asynchronous operation. The disbursement is returned in &#x60;pending&#x60; status and transitions to &#x60;succeeded&#x60; (with associated &#x60;onchainTransactions&#x60;) or &#x60;failed&#x60; (with &#x60;error&#x60;).
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param createDisbursementRequest  (optional)
   * @return Disbursement
   * @throws ApiException if fails to make API call
   */
  public Disbursement createDisbursement(String xIdempotencyKey, CreateDisbursementRequest createDisbursementRequest) throws ApiException {
    ApiResponse<Disbursement> localVarResponse = createDisbursementWithHttpInfo(xIdempotencyKey, createDisbursementRequest);
    return localVarResponse.getData();
  }

  /**
   * Create a disbursement
   * Creates a merchant-initiated payment of funds from a CDP account owned by the merchant to a Coinbase user account or onchain address. Used for standalone refunds, goodwill disbursements, rebates, and other merchant-driven payouts that are not tied to a specific payment session.  This is an asynchronous operation. The disbursement is returned in &#x60;pending&#x60; status and transitions to &#x60;succeeded&#x60; (with associated &#x60;onchainTransactions&#x60;) or &#x60;failed&#x60; (with &#x60;error&#x60;).
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param createDisbursementRequest  (optional)
   * @return ApiResponse&lt;Disbursement&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Disbursement> createDisbursementWithHttpInfo(String xIdempotencyKey, CreateDisbursementRequest createDisbursementRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createDisbursementRequestBuilder(xIdempotencyKey, createDisbursementRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createDisbursement", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Disbursement>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Disbursement>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Disbursement>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createDisbursementRequestBuilder(String xIdempotencyKey, CreateDisbursementRequest createDisbursementRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/disbursements";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createDisbursementRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get a disbursement
   * Retrieves a single disbursement by its ID, including source, target, status, amount, associated onchain transactions, error details (if failed), and timestamps. Only returns the disbursement if the API key has permission to access it.
   * @param disbursementId The unique identifier of the disbursement. (required)
   * @return Disbursement
   * @throws ApiException if fails to make API call
   */
  public Disbursement getDisbursement(String disbursementId) throws ApiException {
    ApiResponse<Disbursement> localVarResponse = getDisbursementWithHttpInfo(disbursementId);
    return localVarResponse.getData();
  }

  /**
   * Get a disbursement
   * Retrieves a single disbursement by its ID, including source, target, status, amount, associated onchain transactions, error details (if failed), and timestamps. Only returns the disbursement if the API key has permission to access it.
   * @param disbursementId The unique identifier of the disbursement. (required)
   * @return ApiResponse&lt;Disbursement&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Disbursement> getDisbursementWithHttpInfo(String disbursementId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDisbursementRequestBuilder(disbursementId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDisbursement", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Disbursement>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Disbursement>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Disbursement>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDisbursementRequestBuilder(String disbursementId) throws ApiException {
    // verify the required parameter 'disbursementId' is set
    if (disbursementId == null) {
      throw new ApiException(400, "Missing the required parameter 'disbursementId' when calling getDisbursement");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/disbursements/{disbursementId}"
        .replace("{disbursementId}", ApiClient.urlEncode(disbursementId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List disbursements
   * Returns a paginated list of disbursements created by the merchant. Each disbursement includes its source, target, status, amount, and timestamps. Only disbursements accessible by the current API key are returned.
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @param status Filter disbursements by status. (optional)
   * @param sourceAccountId Filter disbursements by the source CDP account ID. (optional)
   * @param externalReferenceId Filter disbursements by the client-supplied external reference ID. (optional)
   * @return ListDisbursements200Response
   * @throws ApiException if fails to make API call
   */
  public ListDisbursements200Response listDisbursements(Integer pageSize, String pageToken, PaymentActionStatus status, String sourceAccountId, String externalReferenceId) throws ApiException {
    ApiResponse<ListDisbursements200Response> localVarResponse = listDisbursementsWithHttpInfo(pageSize, pageToken, status, sourceAccountId, externalReferenceId);
    return localVarResponse.getData();
  }

  /**
   * List disbursements
   * Returns a paginated list of disbursements created by the merchant. Each disbursement includes its source, target, status, amount, and timestamps. Only disbursements accessible by the current API key are returned.
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @param status Filter disbursements by status. (optional)
   * @param sourceAccountId Filter disbursements by the source CDP account ID. (optional)
   * @param externalReferenceId Filter disbursements by the client-supplied external reference ID. (optional)
   * @return ApiResponse&lt;ListDisbursements200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListDisbursements200Response> listDisbursementsWithHttpInfo(Integer pageSize, String pageToken, PaymentActionStatus status, String sourceAccountId, String externalReferenceId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listDisbursementsRequestBuilder(pageSize, pageToken, status, sourceAccountId, externalReferenceId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listDisbursements", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListDisbursements200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListDisbursements200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListDisbursements200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listDisbursementsRequestBuilder(Integer pageSize, String pageToken, PaymentActionStatus status, String sourceAccountId, String externalReferenceId) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/disbursements";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "pageToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageToken", pageToken));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "sourceAccountId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sourceAccountId", sourceAccountId));
    localVarQueryParameterBaseName = "externalReferenceId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("externalReferenceId", externalReferenceId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
