/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.CreateEvmSwapQuoteRequest;
import com.coinbase.cdp.openapi.model.CreateSwapQuoteResponseWrapper;
import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.EvmSwapsNetwork;
import com.coinbase.cdp.openapi.model.GetSwapPriceResponseWrapper;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class EvmSwapsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public EvmSwapsApi() {
    this(new ApiClient());
  }

  public EvmSwapsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create a swap quote
   * Create a swap quote, which includes the payload to sign as well as the transaction data needed to execute the swap. The developer is responsible for signing the payload and submitting the transaction to the network in order to execute the swap.
   * @param createEvmSwapQuoteRequest  (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return CreateSwapQuoteResponseWrapper
   * @throws ApiException if fails to make API call
   */
  public CreateSwapQuoteResponseWrapper createEvmSwapQuote(CreateEvmSwapQuoteRequest createEvmSwapQuoteRequest, String xIdempotencyKey) throws ApiException {
    ApiResponse<CreateSwapQuoteResponseWrapper> localVarResponse = createEvmSwapQuoteWithHttpInfo(createEvmSwapQuoteRequest, xIdempotencyKey);
    return localVarResponse.getData();
  }

  /**
   * Create a swap quote
   * Create a swap quote, which includes the payload to sign as well as the transaction data needed to execute the swap. The developer is responsible for signing the payload and submitting the transaction to the network in order to execute the swap.
   * @param createEvmSwapQuoteRequest  (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return ApiResponse&lt;CreateSwapQuoteResponseWrapper&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CreateSwapQuoteResponseWrapper> createEvmSwapQuoteWithHttpInfo(CreateEvmSwapQuoteRequest createEvmSwapQuoteRequest, String xIdempotencyKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createEvmSwapQuoteRequestBuilder(createEvmSwapQuoteRequest, xIdempotencyKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createEvmSwapQuote", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<CreateSwapQuoteResponseWrapper>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<CreateSwapQuoteResponseWrapper>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<CreateSwapQuoteResponseWrapper>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createEvmSwapQuoteRequestBuilder(CreateEvmSwapQuoteRequest createEvmSwapQuoteRequest, String xIdempotencyKey) throws ApiException {
    // verify the required parameter 'createEvmSwapQuoteRequest' is set
    if (createEvmSwapQuoteRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createEvmSwapQuoteRequest' when calling createEvmSwapQuote");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/evm/swaps";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createEvmSwapQuoteRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get a price estimate for a swap
   * Get a price estimate for a swap between two tokens on an EVM network.
   * @param network  (required)
   * @param toToken  (required)
   * @param fromToken  (required)
   * @param fromAmount  (required)
   * @param taker  (required)
   * @param signerAddress  (optional)
   * @param gasPrice  (optional)
   * @param slippageBps  (optional, default to 100)
   * @return GetSwapPriceResponseWrapper
   * @throws ApiException if fails to make API call
   */
  public GetSwapPriceResponseWrapper getEvmSwapPrice(EvmSwapsNetwork network, String toToken, String fromToken, String fromAmount, String taker, String signerAddress, String gasPrice, Integer slippageBps) throws ApiException {
    ApiResponse<GetSwapPriceResponseWrapper> localVarResponse = getEvmSwapPriceWithHttpInfo(network, toToken, fromToken, fromAmount, taker, signerAddress, gasPrice, slippageBps);
    return localVarResponse.getData();
  }

  /**
   * Get a price estimate for a swap
   * Get a price estimate for a swap between two tokens on an EVM network.
   * @param network  (required)
   * @param toToken  (required)
   * @param fromToken  (required)
   * @param fromAmount  (required)
   * @param taker  (required)
   * @param signerAddress  (optional)
   * @param gasPrice  (optional)
   * @param slippageBps  (optional, default to 100)
   * @return ApiResponse&lt;GetSwapPriceResponseWrapper&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetSwapPriceResponseWrapper> getEvmSwapPriceWithHttpInfo(EvmSwapsNetwork network, String toToken, String fromToken, String fromAmount, String taker, String signerAddress, String gasPrice, Integer slippageBps) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getEvmSwapPriceRequestBuilder(network, toToken, fromToken, fromAmount, taker, signerAddress, gasPrice, slippageBps);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getEvmSwapPrice", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetSwapPriceResponseWrapper>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetSwapPriceResponseWrapper>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetSwapPriceResponseWrapper>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getEvmSwapPriceRequestBuilder(EvmSwapsNetwork network, String toToken, String fromToken, String fromAmount, String taker, String signerAddress, String gasPrice, Integer slippageBps) throws ApiException {
    // verify the required parameter 'network' is set
    if (network == null) {
      throw new ApiException(400, "Missing the required parameter 'network' when calling getEvmSwapPrice");
    }
    // verify the required parameter 'toToken' is set
    if (toToken == null) {
      throw new ApiException(400, "Missing the required parameter 'toToken' when calling getEvmSwapPrice");
    }
    // verify the required parameter 'fromToken' is set
    if (fromToken == null) {
      throw new ApiException(400, "Missing the required parameter 'fromToken' when calling getEvmSwapPrice");
    }
    // verify the required parameter 'fromAmount' is set
    if (fromAmount == null) {
      throw new ApiException(400, "Missing the required parameter 'fromAmount' when calling getEvmSwapPrice");
    }
    // verify the required parameter 'taker' is set
    if (taker == null) {
      throw new ApiException(400, "Missing the required parameter 'taker' when calling getEvmSwapPrice");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/evm/swaps/quote";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "network";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("network", network));
    localVarQueryParameterBaseName = "toToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("toToken", toToken));
    localVarQueryParameterBaseName = "fromToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fromToken", fromToken));
    localVarQueryParameterBaseName = "fromAmount";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fromAmount", fromAmount));
    localVarQueryParameterBaseName = "taker";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("taker", taker));
    localVarQueryParameterBaseName = "signerAddress";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("signerAddress", signerAddress));
    localVarQueryParameterBaseName = "gasPrice";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("gasPrice", gasPrice));
    localVarQueryParameterBaseName = "slippageBps";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("slippageBps", slippageBps));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
