/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.AccountTokenAddressesResponse;
import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.ListEvmTokenBalances200Response;
import com.coinbase.cdp.openapi.model.ListEvmTokenBalancesNetwork;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class OnchainDataApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public OnchainDataApi() {
    this(new ApiClient());
  }

  public OnchainDataApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * List EVM token balances
   * Lists the token balances of an EVM address on a given network. The balances include ERC-20 tokens and the native gas token (usually ETH). The response is paginated, and by default, returns 20 balances per page.  **Note:** This endpoint provides &lt;1 second freshness from chain tip, &lt;500ms response latency for wallets with reasonable token history, and 99.9% uptime for production use.
   * @param address The 0x-prefixed EVM address to get balances for. The address does not need to be checksummed. (required)
   * @param network The human-readable network name to get the balances for. (required)
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @return ListEvmTokenBalances200Response
   * @throws ApiException if fails to make API call
   */
  public ListEvmTokenBalances200Response listDataTokenBalances(String address, ListEvmTokenBalancesNetwork network, Integer pageSize, String pageToken) throws ApiException {
    ApiResponse<ListEvmTokenBalances200Response> localVarResponse = listDataTokenBalancesWithHttpInfo(address, network, pageSize, pageToken);
    return localVarResponse.getData();
  }

  /**
   * List EVM token balances
   * Lists the token balances of an EVM address on a given network. The balances include ERC-20 tokens and the native gas token (usually ETH). The response is paginated, and by default, returns 20 balances per page.  **Note:** This endpoint provides &lt;1 second freshness from chain tip, &lt;500ms response latency for wallets with reasonable token history, and 99.9% uptime for production use.
   * @param address The 0x-prefixed EVM address to get balances for. The address does not need to be checksummed. (required)
   * @param network The human-readable network name to get the balances for. (required)
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @return ApiResponse&lt;ListEvmTokenBalances200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListEvmTokenBalances200Response> listDataTokenBalancesWithHttpInfo(String address, ListEvmTokenBalancesNetwork network, Integer pageSize, String pageToken) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listDataTokenBalancesRequestBuilder(address, network, pageSize, pageToken);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listDataTokenBalances", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListEvmTokenBalances200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListEvmTokenBalances200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListEvmTokenBalances200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listDataTokenBalancesRequestBuilder(String address, ListEvmTokenBalancesNetwork network, Integer pageSize, String pageToken) throws ApiException {
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling listDataTokenBalances");
    }
    // verify the required parameter 'network' is set
    if (network == null) {
      throw new ApiException(400, "Missing the required parameter 'network' when calling listDataTokenBalances");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/data/evm/token-balances/{network}/{address}"
        .replace("{address}", ApiClient.urlEncode(address.toString()))
        .replace("{network}", ApiClient.urlEncode(network.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "pageToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageToken", pageToken));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List token addresses for account
   * Retrieve all ERC-20 token contract addresses that an account has ever received tokens from. Analyzes transaction history to discover token interactions. 
   * @param network The blockchain network to query. (required)
   * @param address The account address to analyze for token interactions. (required)
   * @return AccountTokenAddressesResponse
   * @throws ApiException if fails to make API call
   */
  public AccountTokenAddressesResponse listTokensForAccount(String network, String address) throws ApiException {
    ApiResponse<AccountTokenAddressesResponse> localVarResponse = listTokensForAccountWithHttpInfo(network, address);
    return localVarResponse.getData();
  }

  /**
   * List token addresses for account
   * Retrieve all ERC-20 token contract addresses that an account has ever received tokens from. Analyzes transaction history to discover token interactions. 
   * @param network The blockchain network to query. (required)
   * @param address The account address to analyze for token interactions. (required)
   * @return ApiResponse&lt;AccountTokenAddressesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AccountTokenAddressesResponse> listTokensForAccountWithHttpInfo(String network, String address) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTokensForAccountRequestBuilder(network, address);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTokensForAccount", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AccountTokenAddressesResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AccountTokenAddressesResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AccountTokenAddressesResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTokensForAccountRequestBuilder(String network, String address) throws ApiException {
    // verify the required parameter 'network' is set
    if (network == null) {
      throw new ApiException(400, "Missing the required parameter 'network' when calling listTokensForAccount");
    }
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling listTokensForAccount");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/data/evm/token-ownership/{network}/{address}"
        .replace("{network}", ApiClient.urlEncode(network.toString()))
        .replace("{address}", ApiClient.urlEncode(address.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
