/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.CreateOnrampOrder201Response;
import com.coinbase.cdp.openapi.model.CreateOnrampOrderRequest;
import com.coinbase.cdp.openapi.model.CreateOnrampSession201Response;
import com.coinbase.cdp.openapi.model.CreateOnrampSessionRequest;
import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.GetOnrampOrderById200Response;
import com.coinbase.cdp.openapi.model.GetOnrampUserLimits200Response;
import com.coinbase.cdp.openapi.model.GetOnrampUserLimitsRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class OnrampApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public OnrampApi() {
    this(new ApiClient());
  }

  public OnrampApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create an onramp order
   * Create a new Onramp order or get a quote for an Onramp order. Either &#x60;paymentAmount&#x60; or &#x60;purchaseAmount&#x60; must be provided.  This API currently only supports the payment method &#x60;GUEST_CHECKOUT_APPLE_PAY&#x60;.  For detailed integration instructions and to get access to this API, refer to the  [Apple Pay Onramp API docs](https://docs.cdp.coinbase.com/onramp-&amp;-offramp/onramp-apis/apple-pay-onramp-api).
   * @param createOnrampOrderRequest  (optional)
   * @return CreateOnrampOrder201Response
   * @throws ApiException if fails to make API call
   */
  public CreateOnrampOrder201Response createOnrampOrder(CreateOnrampOrderRequest createOnrampOrderRequest) throws ApiException {
    ApiResponse<CreateOnrampOrder201Response> localVarResponse = createOnrampOrderWithHttpInfo(createOnrampOrderRequest);
    return localVarResponse.getData();
  }

  /**
   * Create an onramp order
   * Create a new Onramp order or get a quote for an Onramp order. Either &#x60;paymentAmount&#x60; or &#x60;purchaseAmount&#x60; must be provided.  This API currently only supports the payment method &#x60;GUEST_CHECKOUT_APPLE_PAY&#x60;.  For detailed integration instructions and to get access to this API, refer to the  [Apple Pay Onramp API docs](https://docs.cdp.coinbase.com/onramp-&amp;-offramp/onramp-apis/apple-pay-onramp-api).
   * @param createOnrampOrderRequest  (optional)
   * @return ApiResponse&lt;CreateOnrampOrder201Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CreateOnrampOrder201Response> createOnrampOrderWithHttpInfo(CreateOnrampOrderRequest createOnrampOrderRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createOnrampOrderRequestBuilder(createOnrampOrderRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createOnrampOrder", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<CreateOnrampOrder201Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<CreateOnrampOrder201Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<CreateOnrampOrder201Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createOnrampOrderRequestBuilder(CreateOnrampOrderRequest createOnrampOrderRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/onramp/orders";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createOnrampOrderRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create an onramp session
   * Returns a single-use URL for an Onramp session. This API provides flexible  functionality based on the parameters provided, supporting three cases:  **Important**: The returned URL is single-use only. Once a user visits the URL,  no one else can access it. ## Use Cases ### 1. Basic Session (Minimum Parameters) **Required**: &#x60;destinationAddress&#x60;, &#x60;purchaseCurrency&#x60;, &#x60;destinationNetwork&#x60;  **Returns**: Basic single-use onramp URL. The &#x60;quote&#x60; object will not be included in the response. ### 2. One-Click Onramp URL **Required**: Basic parameters + (&#x60;paymentAmount&#x60; OR &#x60;purchaseAmount&#x60;), &#x60;paymentCurrency&#x60;  **Returns**: One-click onramp URL for streamlined checkout. The &#x60;quote&#x60; object will not be included in the response. ### 3. One-Click Onramp URL with Quote **Required**: One-Click Onramp parameters + &#x60;paymentMethod&#x60;, &#x60;country&#x60;, &#x60;subdivision&#x60;  **Returns**: Complete pricing quote and one-click onramp URL. Both &#x60;session&#x60; and &#x60;quote&#x60; objects will be included in the response.  **Note**: Only one of &#x60;paymentAmount&#x60; or &#x60;purchaseAmount&#x60; should be provided, not both. Providing both will result in an error. When &#x60;paymentAmount&#x60; is provided, the quote shows how much crypto the user will receive for the specified fiat amount (fee-inclusive). When &#x60;purchaseAmount&#x60; is provided, the quote shows how much fiat the user needs to pay for the specified crypto amount (fee-exclusive).
   * @param createOnrampSessionRequest  (optional)
   * @return CreateOnrampSession201Response
   * @throws ApiException if fails to make API call
   */
  public CreateOnrampSession201Response createOnrampSession(CreateOnrampSessionRequest createOnrampSessionRequest) throws ApiException {
    ApiResponse<CreateOnrampSession201Response> localVarResponse = createOnrampSessionWithHttpInfo(createOnrampSessionRequest);
    return localVarResponse.getData();
  }

  /**
   * Create an onramp session
   * Returns a single-use URL for an Onramp session. This API provides flexible  functionality based on the parameters provided, supporting three cases:  **Important**: The returned URL is single-use only. Once a user visits the URL,  no one else can access it. ## Use Cases ### 1. Basic Session (Minimum Parameters) **Required**: &#x60;destinationAddress&#x60;, &#x60;purchaseCurrency&#x60;, &#x60;destinationNetwork&#x60;  **Returns**: Basic single-use onramp URL. The &#x60;quote&#x60; object will not be included in the response. ### 2. One-Click Onramp URL **Required**: Basic parameters + (&#x60;paymentAmount&#x60; OR &#x60;purchaseAmount&#x60;), &#x60;paymentCurrency&#x60;  **Returns**: One-click onramp URL for streamlined checkout. The &#x60;quote&#x60; object will not be included in the response. ### 3. One-Click Onramp URL with Quote **Required**: One-Click Onramp parameters + &#x60;paymentMethod&#x60;, &#x60;country&#x60;, &#x60;subdivision&#x60;  **Returns**: Complete pricing quote and one-click onramp URL. Both &#x60;session&#x60; and &#x60;quote&#x60; objects will be included in the response.  **Note**: Only one of &#x60;paymentAmount&#x60; or &#x60;purchaseAmount&#x60; should be provided, not both. Providing both will result in an error. When &#x60;paymentAmount&#x60; is provided, the quote shows how much crypto the user will receive for the specified fiat amount (fee-inclusive). When &#x60;purchaseAmount&#x60; is provided, the quote shows how much fiat the user needs to pay for the specified crypto amount (fee-exclusive).
   * @param createOnrampSessionRequest  (optional)
   * @return ApiResponse&lt;CreateOnrampSession201Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CreateOnrampSession201Response> createOnrampSessionWithHttpInfo(CreateOnrampSessionRequest createOnrampSessionRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createOnrampSessionRequestBuilder(createOnrampSessionRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createOnrampSession", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<CreateOnrampSession201Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<CreateOnrampSession201Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<CreateOnrampSession201Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createOnrampSessionRequestBuilder(CreateOnrampSessionRequest createOnrampSessionRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/onramp/sessions";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createOnrampSessionRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get an onramp order by ID
   * Get an onramp order by ID.
   * @param orderId The ID of the onramp order to retrieve. (required)
   * @return GetOnrampOrderById200Response
   * @throws ApiException if fails to make API call
   */
  public GetOnrampOrderById200Response getOnrampOrderById(String orderId) throws ApiException {
    ApiResponse<GetOnrampOrderById200Response> localVarResponse = getOnrampOrderByIdWithHttpInfo(orderId);
    return localVarResponse.getData();
  }

  /**
   * Get an onramp order by ID
   * Get an onramp order by ID.
   * @param orderId The ID of the onramp order to retrieve. (required)
   * @return ApiResponse&lt;GetOnrampOrderById200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetOnrampOrderById200Response> getOnrampOrderByIdWithHttpInfo(String orderId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getOnrampOrderByIdRequestBuilder(orderId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getOnrampOrderById", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetOnrampOrderById200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetOnrampOrderById200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetOnrampOrderById200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getOnrampOrderByIdRequestBuilder(String orderId) throws ApiException {
    // verify the required parameter 'orderId' is set
    if (orderId == null) {
      throw new ApiException(400, "Missing the required parameter 'orderId' when calling getOnrampOrderById");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/onramp/orders/{orderId}"
        .replace("{orderId}", ApiClient.urlEncode(orderId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get onramp user limits
   * Returns the transaction limits for an onramp user based on their payment method and user identifier. Use this API to show users their remaining purchase capacity before initiating an onramp transaction. Currently supports &#x60;GUEST_CHECKOUT_APPLE_PAY&#x60; payment method with phone number identification. The phone number must have been previously verified via OTP.
   * @param getOnrampUserLimitsRequest  (optional)
   * @return GetOnrampUserLimits200Response
   * @throws ApiException if fails to make API call
   */
  public GetOnrampUserLimits200Response getOnrampUserLimits(GetOnrampUserLimitsRequest getOnrampUserLimitsRequest) throws ApiException {
    ApiResponse<GetOnrampUserLimits200Response> localVarResponse = getOnrampUserLimitsWithHttpInfo(getOnrampUserLimitsRequest);
    return localVarResponse.getData();
  }

  /**
   * Get onramp user limits
   * Returns the transaction limits for an onramp user based on their payment method and user identifier. Use this API to show users their remaining purchase capacity before initiating an onramp transaction. Currently supports &#x60;GUEST_CHECKOUT_APPLE_PAY&#x60; payment method with phone number identification. The phone number must have been previously verified via OTP.
   * @param getOnrampUserLimitsRequest  (optional)
   * @return ApiResponse&lt;GetOnrampUserLimits200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GetOnrampUserLimits200Response> getOnrampUserLimitsWithHttpInfo(GetOnrampUserLimitsRequest getOnrampUserLimitsRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getOnrampUserLimitsRequestBuilder(getOnrampUserLimitsRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getOnrampUserLimits", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GetOnrampUserLimits200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GetOnrampUserLimits200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetOnrampUserLimits200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getOnrampUserLimitsRequestBuilder(GetOnrampUserLimitsRequest getOnrampUserLimitsRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/onramp/limits";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(getOnrampUserLimitsRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
