/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.CreatePolicyRequest;
import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.ListPolicies200Response;
import com.coinbase.cdp.openapi.model.Policy;
import com.coinbase.cdp.openapi.model.UpdatePolicyRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class PolicyEngineApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public PolicyEngineApi() {
    this(new ApiClient());
  }

  public PolicyEngineApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create a policy
   * Create a policy that can be used to govern the behavior of accounts.
   * @param createPolicyRequest  (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return Policy
   * @throws ApiException if fails to make API call
   */
  public Policy createPolicy(CreatePolicyRequest createPolicyRequest, String xIdempotencyKey) throws ApiException {
    ApiResponse<Policy> localVarResponse = createPolicyWithHttpInfo(createPolicyRequest, xIdempotencyKey);
    return localVarResponse.getData();
  }

  /**
   * Create a policy
   * Create a policy that can be used to govern the behavior of accounts.
   * @param createPolicyRequest  (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return ApiResponse&lt;Policy&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Policy> createPolicyWithHttpInfo(CreatePolicyRequest createPolicyRequest, String xIdempotencyKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createPolicyRequestBuilder(createPolicyRequest, xIdempotencyKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createPolicy", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Policy>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Policy>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Policy>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createPolicyRequestBuilder(CreatePolicyRequest createPolicyRequest, String xIdempotencyKey) throws ApiException {
    // verify the required parameter 'createPolicyRequest' is set
    if (createPolicyRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createPolicyRequest' when calling createPolicy");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/policy-engine/policies";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createPolicyRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete a policy
   * Delete a policy by its ID. This will have the effect of removing the policy from all accounts that are currently using it.
   * @param policyId The ID of the policy to delete. (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @throws ApiException if fails to make API call
   */
  public void deletePolicy(String policyId, String xIdempotencyKey) throws ApiException {
    deletePolicyWithHttpInfo(policyId, xIdempotencyKey);
  }

  /**
   * Delete a policy
   * Delete a policy by its ID. This will have the effect of removing the policy from all accounts that are currently using it.
   * @param policyId The ID of the policy to delete. (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deletePolicyWithHttpInfo(String policyId, String xIdempotencyKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deletePolicyRequestBuilder(policyId, xIdempotencyKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deletePolicy", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deletePolicyRequestBuilder(String policyId, String xIdempotencyKey) throws ApiException {
    // verify the required parameter 'policyId' is set
    if (policyId == null) {
      throw new ApiException(400, "Missing the required parameter 'policyId' when calling deletePolicy");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/policy-engine/policies/{policyId}"
        .replace("{policyId}", ApiClient.urlEncode(policyId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get a policy by ID
   * Get a policy by its ID.
   * @param policyId The ID of the policy to get. (required)
   * @return Policy
   * @throws ApiException if fails to make API call
   */
  public Policy getPolicyById(String policyId) throws ApiException {
    ApiResponse<Policy> localVarResponse = getPolicyByIdWithHttpInfo(policyId);
    return localVarResponse.getData();
  }

  /**
   * Get a policy by ID
   * Get a policy by its ID.
   * @param policyId The ID of the policy to get. (required)
   * @return ApiResponse&lt;Policy&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Policy> getPolicyByIdWithHttpInfo(String policyId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPolicyByIdRequestBuilder(policyId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPolicyById", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Policy>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Policy>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Policy>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPolicyByIdRequestBuilder(String policyId) throws ApiException {
    // verify the required parameter 'policyId' is set
    if (policyId == null) {
      throw new ApiException(400, "Missing the required parameter 'policyId' when calling getPolicyById");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/policy-engine/policies/{policyId}"
        .replace("{policyId}", ApiClient.urlEncode(policyId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List policies
   * Lists the policies belonging to the developer&#39;s CDP Project. Use the &#x60;scope&#x60; parameter to filter the policies by scope. The response is paginated, and by default, returns 20 policies per page.
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @param scope The scope of the policies to return. If &#x60;project&#x60;, the response will include exactly one policy, which is the project-level policy. If &#x60;account&#x60;, the response will include all account-level policies for the developer&#39;s CDP Project. (optional)
   * @return ListPolicies200Response
   * @throws ApiException if fails to make API call
   */
  public ListPolicies200Response listPolicies(Integer pageSize, String pageToken, String scope) throws ApiException {
    ApiResponse<ListPolicies200Response> localVarResponse = listPoliciesWithHttpInfo(pageSize, pageToken, scope);
    return localVarResponse.getData();
  }

  /**
   * List policies
   * Lists the policies belonging to the developer&#39;s CDP Project. Use the &#x60;scope&#x60; parameter to filter the policies by scope. The response is paginated, and by default, returns 20 policies per page.
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @param scope The scope of the policies to return. If &#x60;project&#x60;, the response will include exactly one policy, which is the project-level policy. If &#x60;account&#x60;, the response will include all account-level policies for the developer&#39;s CDP Project. (optional)
   * @return ApiResponse&lt;ListPolicies200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListPolicies200Response> listPoliciesWithHttpInfo(Integer pageSize, String pageToken, String scope) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listPoliciesRequestBuilder(pageSize, pageToken, scope);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listPolicies", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListPolicies200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListPolicies200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListPolicies200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listPoliciesRequestBuilder(Integer pageSize, String pageToken, String scope) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/policy-engine/policies";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "pageToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageToken", pageToken));
    localVarQueryParameterBaseName = "scope";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("scope", scope));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update a policy
   * Updates a policy by its ID. This will have the effect of applying the updated policy to all accounts that are currently using it.
   * @param policyId The ID of the policy to update. (required)
   * @param updatePolicyRequest  (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return Policy
   * @throws ApiException if fails to make API call
   */
  public Policy updatePolicy(String policyId, UpdatePolicyRequest updatePolicyRequest, String xIdempotencyKey) throws ApiException {
    ApiResponse<Policy> localVarResponse = updatePolicyWithHttpInfo(policyId, updatePolicyRequest, xIdempotencyKey);
    return localVarResponse.getData();
  }

  /**
   * Update a policy
   * Updates a policy by its ID. This will have the effect of applying the updated policy to all accounts that are currently using it.
   * @param policyId The ID of the policy to update. (required)
   * @param updatePolicyRequest  (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return ApiResponse&lt;Policy&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Policy> updatePolicyWithHttpInfo(String policyId, UpdatePolicyRequest updatePolicyRequest, String xIdempotencyKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updatePolicyRequestBuilder(policyId, updatePolicyRequest, xIdempotencyKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updatePolicy", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Policy>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Policy>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Policy>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updatePolicyRequestBuilder(String policyId, UpdatePolicyRequest updatePolicyRequest, String xIdempotencyKey) throws ApiException {
    // verify the required parameter 'policyId' is set
    if (policyId == null) {
      throw new ApiException(400, "Missing the required parameter 'policyId' when calling updatePolicy");
    }
    // verify the required parameter 'updatePolicyRequest' is set
    if (updatePolicyRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'updatePolicyRequest' when calling updatePolicy");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/policy-engine/policies/{policyId}"
        .replace("{policyId}", ApiClient.urlEncode(policyId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(updatePolicyRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
