/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.CreateSolanaAccountRequest;
import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.ExportEvmAccountRequest;
import com.coinbase.cdp.openapi.model.ExportSolanaAccount200Response;
import com.coinbase.cdp.openapi.model.ImportSolanaAccountRequest;
import com.coinbase.cdp.openapi.model.ListSolanaAccounts200Response;
import com.coinbase.cdp.openapi.model.SendSolanaTransaction200Response;
import com.coinbase.cdp.openapi.model.SendSolanaTransactionRequest;
import com.coinbase.cdp.openapi.model.SignSolanaMessage200Response;
import com.coinbase.cdp.openapi.model.SignSolanaMessageRequest;
import com.coinbase.cdp.openapi.model.SignSolanaTransaction200Response;
import com.coinbase.cdp.openapi.model.SignSolanaTransactionRequest;
import com.coinbase.cdp.openapi.model.SolanaAccount;
import com.coinbase.cdp.openapi.model.UpdateSolanaAccountRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class SolanaAccountsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SolanaAccountsApi() {
    this(new ApiClient());
  }

  public SolanaAccountsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create a Solana account
   * Creates a new Solana account.
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param createSolanaAccountRequest  (optional)
   * @return SolanaAccount
   * @throws ApiException if fails to make API call
   */
  public SolanaAccount createSolanaAccount(String xWalletAuth, String xIdempotencyKey, CreateSolanaAccountRequest createSolanaAccountRequest) throws ApiException {
    ApiResponse<SolanaAccount> localVarResponse = createSolanaAccountWithHttpInfo(xWalletAuth, xIdempotencyKey, createSolanaAccountRequest);
    return localVarResponse.getData();
  }

  /**
   * Create a Solana account
   * Creates a new Solana account.
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param createSolanaAccountRequest  (optional)
   * @return ApiResponse&lt;SolanaAccount&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SolanaAccount> createSolanaAccountWithHttpInfo(String xWalletAuth, String xIdempotencyKey, CreateSolanaAccountRequest createSolanaAccountRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createSolanaAccountRequestBuilder(xWalletAuth, xIdempotencyKey, createSolanaAccountRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createSolanaAccount", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SolanaAccount>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SolanaAccount>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SolanaAccount>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createSolanaAccountRequestBuilder(String xWalletAuth, String xIdempotencyKey, CreateSolanaAccountRequest createSolanaAccountRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xWalletAuth != null) {
      localVarRequestBuilder.header("X-Wallet-Auth", xWalletAuth.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createSolanaAccountRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Export an Solana account
   * Export an existing Solana account&#39;s private key. It is important to store the private key in a secure place after it&#39;s exported.
   * @param address The base58 encoded address of the Solana account. (required)
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param exportEvmAccountRequest  (optional)
   * @return ExportSolanaAccount200Response
   * @throws ApiException if fails to make API call
   */
  public ExportSolanaAccount200Response exportSolanaAccount(String address, String xWalletAuth, String xIdempotencyKey, ExportEvmAccountRequest exportEvmAccountRequest) throws ApiException {
    ApiResponse<ExportSolanaAccount200Response> localVarResponse = exportSolanaAccountWithHttpInfo(address, xWalletAuth, xIdempotencyKey, exportEvmAccountRequest);
    return localVarResponse.getData();
  }

  /**
   * Export an Solana account
   * Export an existing Solana account&#39;s private key. It is important to store the private key in a secure place after it&#39;s exported.
   * @param address The base58 encoded address of the Solana account. (required)
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param exportEvmAccountRequest  (optional)
   * @return ApiResponse&lt;ExportSolanaAccount200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExportSolanaAccount200Response> exportSolanaAccountWithHttpInfo(String address, String xWalletAuth, String xIdempotencyKey, ExportEvmAccountRequest exportEvmAccountRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = exportSolanaAccountRequestBuilder(address, xWalletAuth, xIdempotencyKey, exportEvmAccountRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("exportSolanaAccount", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExportSolanaAccount200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExportSolanaAccount200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExportSolanaAccount200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder exportSolanaAccountRequestBuilder(String address, String xWalletAuth, String xIdempotencyKey, ExportEvmAccountRequest exportEvmAccountRequest) throws ApiException {
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling exportSolanaAccount");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/{address}/export"
        .replace("{address}", ApiClient.urlEncode(address.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xWalletAuth != null) {
      localVarRequestBuilder.header("X-Wallet-Auth", xWalletAuth.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(exportEvmAccountRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Export a Solana account by name
   * Export an existing Solana account&#39;s private key by its name. It is important to store the private key in a secure place after it&#39;s exported.
   * @param name The name of the Solana account. (required)
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param exportEvmAccountRequest  (optional)
   * @return ExportSolanaAccount200Response
   * @throws ApiException if fails to make API call
   */
  public ExportSolanaAccount200Response exportSolanaAccountByName(String name, String xWalletAuth, String xIdempotencyKey, ExportEvmAccountRequest exportEvmAccountRequest) throws ApiException {
    ApiResponse<ExportSolanaAccount200Response> localVarResponse = exportSolanaAccountByNameWithHttpInfo(name, xWalletAuth, xIdempotencyKey, exportEvmAccountRequest);
    return localVarResponse.getData();
  }

  /**
   * Export a Solana account by name
   * Export an existing Solana account&#39;s private key by its name. It is important to store the private key in a secure place after it&#39;s exported.
   * @param name The name of the Solana account. (required)
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param exportEvmAccountRequest  (optional)
   * @return ApiResponse&lt;ExportSolanaAccount200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ExportSolanaAccount200Response> exportSolanaAccountByNameWithHttpInfo(String name, String xWalletAuth, String xIdempotencyKey, ExportEvmAccountRequest exportEvmAccountRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = exportSolanaAccountByNameRequestBuilder(name, xWalletAuth, xIdempotencyKey, exportEvmAccountRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("exportSolanaAccountByName", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ExportSolanaAccount200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ExportSolanaAccount200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ExportSolanaAccount200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder exportSolanaAccountByNameRequestBuilder(String name, String xWalletAuth, String xIdempotencyKey, ExportEvmAccountRequest exportEvmAccountRequest) throws ApiException {
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling exportSolanaAccountByName");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/export/by-name/{name}"
        .replace("{name}", ApiClient.urlEncode(name.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xWalletAuth != null) {
      localVarRequestBuilder.header("X-Wallet-Auth", xWalletAuth.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(exportEvmAccountRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get a Solana account by address
   * Gets a Solana account by its address.
   * @param address The base58 encoded address of the Solana account. (required)
   * @return SolanaAccount
   * @throws ApiException if fails to make API call
   */
  public SolanaAccount getSolanaAccount(String address) throws ApiException {
    ApiResponse<SolanaAccount> localVarResponse = getSolanaAccountWithHttpInfo(address);
    return localVarResponse.getData();
  }

  /**
   * Get a Solana account by address
   * Gets a Solana account by its address.
   * @param address The base58 encoded address of the Solana account. (required)
   * @return ApiResponse&lt;SolanaAccount&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SolanaAccount> getSolanaAccountWithHttpInfo(String address) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSolanaAccountRequestBuilder(address);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSolanaAccount", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SolanaAccount>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SolanaAccount>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SolanaAccount>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSolanaAccountRequestBuilder(String address) throws ApiException {
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling getSolanaAccount");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/{address}"
        .replace("{address}", ApiClient.urlEncode(address.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get a Solana account by name
   * Gets a Solana account by its name.
   * @param name The name of the Solana account. (required)
   * @return SolanaAccount
   * @throws ApiException if fails to make API call
   */
  public SolanaAccount getSolanaAccountByName(String name) throws ApiException {
    ApiResponse<SolanaAccount> localVarResponse = getSolanaAccountByNameWithHttpInfo(name);
    return localVarResponse.getData();
  }

  /**
   * Get a Solana account by name
   * Gets a Solana account by its name.
   * @param name The name of the Solana account. (required)
   * @return ApiResponse&lt;SolanaAccount&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SolanaAccount> getSolanaAccountByNameWithHttpInfo(String name) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSolanaAccountByNameRequestBuilder(name);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSolanaAccountByName", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SolanaAccount>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SolanaAccount>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SolanaAccount>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSolanaAccountByNameRequestBuilder(String name) throws ApiException {
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling getSolanaAccountByName");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/by-name/{name}"
        .replace("{name}", ApiClient.urlEncode(name.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Import a Solana account
   * Import an existing Solana account into the developer&#39;s CDP Project. This API should be called from the [CDP SDK](https://github.com/coinbase/cdp-sdk) to ensure that the associated private key is properly encrypted.
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param importSolanaAccountRequest  (optional)
   * @return SolanaAccount
   * @throws ApiException if fails to make API call
   */
  public SolanaAccount importSolanaAccount(String xWalletAuth, String xIdempotencyKey, ImportSolanaAccountRequest importSolanaAccountRequest) throws ApiException {
    ApiResponse<SolanaAccount> localVarResponse = importSolanaAccountWithHttpInfo(xWalletAuth, xIdempotencyKey, importSolanaAccountRequest);
    return localVarResponse.getData();
  }

  /**
   * Import a Solana account
   * Import an existing Solana account into the developer&#39;s CDP Project. This API should be called from the [CDP SDK](https://github.com/coinbase/cdp-sdk) to ensure that the associated private key is properly encrypted.
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param importSolanaAccountRequest  (optional)
   * @return ApiResponse&lt;SolanaAccount&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SolanaAccount> importSolanaAccountWithHttpInfo(String xWalletAuth, String xIdempotencyKey, ImportSolanaAccountRequest importSolanaAccountRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = importSolanaAccountRequestBuilder(xWalletAuth, xIdempotencyKey, importSolanaAccountRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("importSolanaAccount", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SolanaAccount>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SolanaAccount>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SolanaAccount>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder importSolanaAccountRequestBuilder(String xWalletAuth, String xIdempotencyKey, ImportSolanaAccountRequest importSolanaAccountRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/import";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xWalletAuth != null) {
      localVarRequestBuilder.header("X-Wallet-Auth", xWalletAuth.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(importSolanaAccountRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List Solana accounts or get account by name
   * Lists the Solana accounts belonging to the developer. The response is paginated, and by default, returns 20 accounts per page.  If a name is provided, the response will contain only the account with that name.
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @return ListSolanaAccounts200Response
   * @throws ApiException if fails to make API call
   */
  public ListSolanaAccounts200Response listSolanaAccounts(Integer pageSize, String pageToken) throws ApiException {
    ApiResponse<ListSolanaAccounts200Response> localVarResponse = listSolanaAccountsWithHttpInfo(pageSize, pageToken);
    return localVarResponse.getData();
  }

  /**
   * List Solana accounts or get account by name
   * Lists the Solana accounts belonging to the developer. The response is paginated, and by default, returns 20 accounts per page.  If a name is provided, the response will contain only the account with that name.
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @return ApiResponse&lt;ListSolanaAccounts200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListSolanaAccounts200Response> listSolanaAccountsWithHttpInfo(Integer pageSize, String pageToken) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listSolanaAccountsRequestBuilder(pageSize, pageToken);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listSolanaAccounts", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListSolanaAccounts200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListSolanaAccounts200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListSolanaAccounts200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listSolanaAccountsRequestBuilder(Integer pageSize, String pageToken) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "pageToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageToken", pageToken));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Send a Solana transaction
   * Signs and sends a single Solana transaction using multiple Solana accounts. The transaction may contain contain several instructions, each of which may require signatures from different account keys.  The transaction should be serialized into a byte array and base64 encoded. The API handles recent blockhash management and fee estimation, leaving the developer to provide only the minimal set of fields necessary to send the transaction.  **Transaction types**  The following transaction types are supported: * [Legacy transactions](https://solana.com/developers/guides/advanced/versions#current-transaction-versions) * [Versioned transactions](https://solana.com/developers/guides/advanced/versions)  **Instruction Batching**  To batch multiple operations, include multiple instructions within a single transaction. All instructions within a transaction are executed atomically - if any instruction fails, the entire transaction fails and is rolled back.  **Network Support**  The following Solana networks are supported: * &#x60;solana&#x60; - Solana Mainnet * &#x60;solana-devnet&#x60; - Solana Devnet  The developer is responsible for ensuring that the unsigned transaction is valid, as the API will not validate the transaction.
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param sendSolanaTransactionRequest  (optional)
   * @return SendSolanaTransaction200Response
   * @throws ApiException if fails to make API call
   */
  public SendSolanaTransaction200Response sendSolanaTransaction(String xWalletAuth, String xIdempotencyKey, SendSolanaTransactionRequest sendSolanaTransactionRequest) throws ApiException {
    ApiResponse<SendSolanaTransaction200Response> localVarResponse = sendSolanaTransactionWithHttpInfo(xWalletAuth, xIdempotencyKey, sendSolanaTransactionRequest);
    return localVarResponse.getData();
  }

  /**
   * Send a Solana transaction
   * Signs and sends a single Solana transaction using multiple Solana accounts. The transaction may contain contain several instructions, each of which may require signatures from different account keys.  The transaction should be serialized into a byte array and base64 encoded. The API handles recent blockhash management and fee estimation, leaving the developer to provide only the minimal set of fields necessary to send the transaction.  **Transaction types**  The following transaction types are supported: * [Legacy transactions](https://solana.com/developers/guides/advanced/versions#current-transaction-versions) * [Versioned transactions](https://solana.com/developers/guides/advanced/versions)  **Instruction Batching**  To batch multiple operations, include multiple instructions within a single transaction. All instructions within a transaction are executed atomically - if any instruction fails, the entire transaction fails and is rolled back.  **Network Support**  The following Solana networks are supported: * &#x60;solana&#x60; - Solana Mainnet * &#x60;solana-devnet&#x60; - Solana Devnet  The developer is responsible for ensuring that the unsigned transaction is valid, as the API will not validate the transaction.
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param sendSolanaTransactionRequest  (optional)
   * @return ApiResponse&lt;SendSolanaTransaction200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SendSolanaTransaction200Response> sendSolanaTransactionWithHttpInfo(String xWalletAuth, String xIdempotencyKey, SendSolanaTransactionRequest sendSolanaTransactionRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = sendSolanaTransactionRequestBuilder(xWalletAuth, xIdempotencyKey, sendSolanaTransactionRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("sendSolanaTransaction", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SendSolanaTransaction200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SendSolanaTransaction200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SendSolanaTransaction200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder sendSolanaTransactionRequestBuilder(String xWalletAuth, String xIdempotencyKey, SendSolanaTransactionRequest sendSolanaTransactionRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/send/transaction";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xWalletAuth != null) {
      localVarRequestBuilder.header("X-Wallet-Auth", xWalletAuth.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(sendSolanaTransactionRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Sign a message
   * Signs an arbitrary message with the given Solana account.  **WARNING:** Never sign a message that you didn&#39;t generate, as it can be an arbitrary transaction. For example, it might send all of your funds to an attacker.
   * @param address The base58 encoded address of the Solana account. (required)
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param signSolanaMessageRequest  (optional)
   * @return SignSolanaMessage200Response
   * @throws ApiException if fails to make API call
   */
  public SignSolanaMessage200Response signSolanaMessage(String address, String xWalletAuth, String xIdempotencyKey, SignSolanaMessageRequest signSolanaMessageRequest) throws ApiException {
    ApiResponse<SignSolanaMessage200Response> localVarResponse = signSolanaMessageWithHttpInfo(address, xWalletAuth, xIdempotencyKey, signSolanaMessageRequest);
    return localVarResponse.getData();
  }

  /**
   * Sign a message
   * Signs an arbitrary message with the given Solana account.  **WARNING:** Never sign a message that you didn&#39;t generate, as it can be an arbitrary transaction. For example, it might send all of your funds to an attacker.
   * @param address The base58 encoded address of the Solana account. (required)
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param signSolanaMessageRequest  (optional)
   * @return ApiResponse&lt;SignSolanaMessage200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SignSolanaMessage200Response> signSolanaMessageWithHttpInfo(String address, String xWalletAuth, String xIdempotencyKey, SignSolanaMessageRequest signSolanaMessageRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = signSolanaMessageRequestBuilder(address, xWalletAuth, xIdempotencyKey, signSolanaMessageRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("signSolanaMessage", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SignSolanaMessage200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SignSolanaMessage200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SignSolanaMessage200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder signSolanaMessageRequestBuilder(String address, String xWalletAuth, String xIdempotencyKey, SignSolanaMessageRequest signSolanaMessageRequest) throws ApiException {
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling signSolanaMessage");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/{address}/sign/message"
        .replace("{address}", ApiClient.urlEncode(address.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xWalletAuth != null) {
      localVarRequestBuilder.header("X-Wallet-Auth", xWalletAuth.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(signSolanaMessageRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Sign a transaction
   * Signs a transaction with the given Solana account. The unsigned transaction should be serialized into a byte array and then encoded as base64.  **Transaction types**  The following transaction types are supported: * [Legacy transactions](https://solana-labs.github.io/solana-web3.js/classes/Transaction.html) * [Versioned transactions](https://solana-labs.github.io/solana-web3.js/classes/VersionedTransaction.html)  The developer is responsible for ensuring that the unsigned transaction is valid, as the API will not validate the transaction.
   * @param address The base58 encoded address of the Solana account. (required)
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param signSolanaTransactionRequest  (optional)
   * @return SignSolanaTransaction200Response
   * @throws ApiException if fails to make API call
   */
  public SignSolanaTransaction200Response signSolanaTransaction(String address, String xWalletAuth, String xIdempotencyKey, SignSolanaTransactionRequest signSolanaTransactionRequest) throws ApiException {
    ApiResponse<SignSolanaTransaction200Response> localVarResponse = signSolanaTransactionWithHttpInfo(address, xWalletAuth, xIdempotencyKey, signSolanaTransactionRequest);
    return localVarResponse.getData();
  }

  /**
   * Sign a transaction
   * Signs a transaction with the given Solana account. The unsigned transaction should be serialized into a byte array and then encoded as base64.  **Transaction types**  The following transaction types are supported: * [Legacy transactions](https://solana-labs.github.io/solana-web3.js/classes/Transaction.html) * [Versioned transactions](https://solana-labs.github.io/solana-web3.js/classes/VersionedTransaction.html)  The developer is responsible for ensuring that the unsigned transaction is valid, as the API will not validate the transaction.
   * @param address The base58 encoded address of the Solana account. (required)
   * @param xWalletAuth A JWT signed using your Wallet Secret, encoded in base64. Refer to the [Generate Wallet Token](https://docs.cdp.coinbase.com/api-reference/v2/authentication#2-generate-wallet-token) section of our Authentication docs for more details on how to generate your Wallet Token.  (optional)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param signSolanaTransactionRequest  (optional)
   * @return ApiResponse&lt;SignSolanaTransaction200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SignSolanaTransaction200Response> signSolanaTransactionWithHttpInfo(String address, String xWalletAuth, String xIdempotencyKey, SignSolanaTransactionRequest signSolanaTransactionRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = signSolanaTransactionRequestBuilder(address, xWalletAuth, xIdempotencyKey, signSolanaTransactionRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("signSolanaTransaction", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SignSolanaTransaction200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SignSolanaTransaction200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SignSolanaTransaction200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder signSolanaTransactionRequestBuilder(String address, String xWalletAuth, String xIdempotencyKey, SignSolanaTransactionRequest signSolanaTransactionRequest) throws ApiException {
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling signSolanaTransaction");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/{address}/sign/transaction"
        .replace("{address}", ApiClient.urlEncode(address.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xWalletAuth != null) {
      localVarRequestBuilder.header("X-Wallet-Auth", xWalletAuth.toString());
    }
    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(signSolanaTransactionRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update a Solana account
   * Updates an existing Solana account. Use this to update the account&#39;s name or account-level policy.
   * @param address The base58 encoded address of the Solana account. (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param updateSolanaAccountRequest  (optional)
   * @return SolanaAccount
   * @throws ApiException if fails to make API call
   */
  public SolanaAccount updateSolanaAccount(String address, String xIdempotencyKey, UpdateSolanaAccountRequest updateSolanaAccountRequest) throws ApiException {
    ApiResponse<SolanaAccount> localVarResponse = updateSolanaAccountWithHttpInfo(address, xIdempotencyKey, updateSolanaAccountRequest);
    return localVarResponse.getData();
  }

  /**
   * Update a Solana account
   * Updates an existing Solana account. Use this to update the account&#39;s name or account-level policy.
   * @param address The base58 encoded address of the Solana account. (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param updateSolanaAccountRequest  (optional)
   * @return ApiResponse&lt;SolanaAccount&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SolanaAccount> updateSolanaAccountWithHttpInfo(String address, String xIdempotencyKey, UpdateSolanaAccountRequest updateSolanaAccountRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateSolanaAccountRequestBuilder(address, xIdempotencyKey, updateSolanaAccountRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateSolanaAccount", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SolanaAccount>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SolanaAccount>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SolanaAccount>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateSolanaAccountRequestBuilder(String address, String xIdempotencyKey, UpdateSolanaAccountRequest updateSolanaAccountRequest) throws ApiException {
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling updateSolanaAccount");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/solana/accounts/{address}"
        .replace("{address}", ApiClient.urlEncode(address.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(updateSolanaAccountRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
