/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.OnchainDataQuery;
import com.coinbase.cdp.openapi.model.OnchainDataResult;
import com.coinbase.cdp.openapi.model.OnchainDataSchemaResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class SqlApiApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SqlApiApi() {
    this(new ApiClient());
  }

  public SqlApiApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get SQL grammar
   * Retrieve the SQL grammar for the SQL API.  The SQL queries that are supported by the SQL API are defined in ANTLR4 grammar which is evaluated by server before executing the query. This ensures the safety and soundness of the SQL query before execution.  This endpoint returns the ANTLR4 grammar that is used to evaluate the SQL queries so that developers can understand the SQL API and build SQL queries with high confidence and correctness.  LLMs interact well with ANTLR4 grammar. You can feed the grammar directly into the LLMs to help generate SQL queries. 
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String getSQLGrammar() throws ApiException {
    ApiResponse<String> localVarResponse = getSQLGrammarWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Get SQL grammar
   * Retrieve the SQL grammar for the SQL API.  The SQL queries that are supported by the SQL API are defined in ANTLR4 grammar which is evaluated by server before executing the query. This ensures the safety and soundness of the SQL query before execution.  This endpoint returns the ANTLR4 grammar that is used to evaluate the SQL queries so that developers can understand the SQL API and build SQL queries with high confidence and correctness.  LLMs interact well with ANTLR4 grammar. You can feed the grammar directly into the LLMs to help generate SQL queries. 
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> getSQLGrammarWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSQLGrammarRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSQLGrammar", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<String>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<String>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<String>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSQLGrammarRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/data/query/grammar";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get schemas details
   * Retrieve the schema information for the available tables in the SQL API&#39;s indexed data.  This includes table names, column definitions, data types, and indexed fields. 
   * @param database The name of the database to query. Defaults to \&quot;base\&quot; when not specified. (optional, default to base)
   * @param table Get the schema for a specific table. (optional)
   * @return OnchainDataSchemaResponse
   * @throws ApiException if fails to make API call
   */
  public OnchainDataSchemaResponse getSQLSchema(String database, String table) throws ApiException {
    ApiResponse<OnchainDataSchemaResponse> localVarResponse = getSQLSchemaWithHttpInfo(database, table);
    return localVarResponse.getData();
  }

  /**
   * Get schemas details
   * Retrieve the schema information for the available tables in the SQL API&#39;s indexed data.  This includes table names, column definitions, data types, and indexed fields. 
   * @param database The name of the database to query. Defaults to \&quot;base\&quot; when not specified. (optional, default to base)
   * @param table Get the schema for a specific table. (optional)
   * @return ApiResponse&lt;OnchainDataSchemaResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<OnchainDataSchemaResponse> getSQLSchemaWithHttpInfo(String database, String table) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSQLSchemaRequestBuilder(database, table);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSQLSchema", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<OnchainDataSchemaResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<OnchainDataSchemaResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<OnchainDataSchemaResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSQLSchemaRequestBuilder(String database, String table) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/data/query/schema";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "database";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("database", database));
    localVarQueryParameterBaseName = "table";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("table", table));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Run SQL Query
   * Run a read-only SQL query against indexed blockchain data including transactions, events, and decoded logs.  This endpoint provides direct SQL access to comprehensive blockchain data across supported networks.  Queries are executed against optimized data structures for high-performance analytics.  ### Allowed Queries    - Standard SQL syntax (CoinbaSeQL dialect, based on ClickHouse dialect)   - Read-only queries (SELECT statements)   - No DDL or DML operations   - Query that follow limits (defined below)  ### Supported Tables    - &#x60;&lt;network&gt;.events&#x60; - Base mainnet decoded event logs with parameters, event signature, topics, and more.   - &#x60;&lt;network&gt;.transactions&#x60; - Base mainnet transaction data including hash, block number, gas usage.   - &#x60;&lt;network&gt;.blocks&#x60; - Base mainnet block information.   - &#x60;&lt;network&gt;.encoded_logs&#x60; - Encoded log data of event logs that aren&#39;t able to be decoded by our event decoder (ex: log0 opcode).   - &#x60;&lt;network&gt;.decoded_user_operations&#x60; - Decoded user operations data including hash, block number, gas usage, builder codes, entrypoint version, and more.   - &#x60;&lt;network&gt;.transaction_attributions&#x60; - Information about the attributions of a transaction to a builder and associated builder codes.  ### Supported Networks    - Base Mainnet: &#x60;base&#x60;   - Base Sepolia: &#x60;base_sepolia&#x60;    So for example, valid tables are: &#x60;base.events&#x60;, &#x60;base_sepolia.events&#x60;, &#x60;base.transactions&#x60;, etc.  ### Query Limits    - Maximum result set: 50,000 rows   - Maximum query length: 10,000 characters   - Maximum on-disk data to read: 100GB   - Maximum memory usage: 15GB   - Query timeout: 30 seconds   - Maximum JOINs: 12  ### Query Caching  By default, each query result is returned from cache so long as the result is from an identical query and less than 750ms old. This freshness tolerance can be modified upwards, to a maximum of 900000ms (i.e. 900s, 15m). This can be helpful for users who wish to reduce expensive calls to the SQL API by reusing cached results. 
   * @param onchainDataQuery  (required)
   * @return OnchainDataResult
   * @throws ApiException if fails to make API call
   */
  public OnchainDataResult runSQLQuery(OnchainDataQuery onchainDataQuery) throws ApiException {
    ApiResponse<OnchainDataResult> localVarResponse = runSQLQueryWithHttpInfo(onchainDataQuery);
    return localVarResponse.getData();
  }

  /**
   * Run SQL Query
   * Run a read-only SQL query against indexed blockchain data including transactions, events, and decoded logs.  This endpoint provides direct SQL access to comprehensive blockchain data across supported networks.  Queries are executed against optimized data structures for high-performance analytics.  ### Allowed Queries    - Standard SQL syntax (CoinbaSeQL dialect, based on ClickHouse dialect)   - Read-only queries (SELECT statements)   - No DDL or DML operations   - Query that follow limits (defined below)  ### Supported Tables    - &#x60;&lt;network&gt;.events&#x60; - Base mainnet decoded event logs with parameters, event signature, topics, and more.   - &#x60;&lt;network&gt;.transactions&#x60; - Base mainnet transaction data including hash, block number, gas usage.   - &#x60;&lt;network&gt;.blocks&#x60; - Base mainnet block information.   - &#x60;&lt;network&gt;.encoded_logs&#x60; - Encoded log data of event logs that aren&#39;t able to be decoded by our event decoder (ex: log0 opcode).   - &#x60;&lt;network&gt;.decoded_user_operations&#x60; - Decoded user operations data including hash, block number, gas usage, builder codes, entrypoint version, and more.   - &#x60;&lt;network&gt;.transaction_attributions&#x60; - Information about the attributions of a transaction to a builder and associated builder codes.  ### Supported Networks    - Base Mainnet: &#x60;base&#x60;   - Base Sepolia: &#x60;base_sepolia&#x60;    So for example, valid tables are: &#x60;base.events&#x60;, &#x60;base_sepolia.events&#x60;, &#x60;base.transactions&#x60;, etc.  ### Query Limits    - Maximum result set: 50,000 rows   - Maximum query length: 10,000 characters   - Maximum on-disk data to read: 100GB   - Maximum memory usage: 15GB   - Query timeout: 30 seconds   - Maximum JOINs: 12  ### Query Caching  By default, each query result is returned from cache so long as the result is from an identical query and less than 750ms old. This freshness tolerance can be modified upwards, to a maximum of 900000ms (i.e. 900s, 15m). This can be helpful for users who wish to reduce expensive calls to the SQL API by reusing cached results. 
   * @param onchainDataQuery  (required)
   * @return ApiResponse&lt;OnchainDataResult&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<OnchainDataResult> runSQLQueryWithHttpInfo(OnchainDataQuery onchainDataQuery) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = runSQLQueryRequestBuilder(onchainDataQuery);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("runSQLQuery", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<OnchainDataResult>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<OnchainDataResult>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<OnchainDataResult>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder runSQLQueryRequestBuilder(OnchainDataQuery onchainDataQuery) throws ApiException {
    // verify the required parameter 'onchainDataQuery' is set
    if (onchainDataQuery == null) {
      throw new ApiException(400, "Missing the required parameter 'onchainDataQuery' when calling runSQLQuery");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/data/query/run";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(onchainDataQuery);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
