/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.DepositTravelRuleRequest;
import com.coinbase.cdp.openapi.model.DepositTravelRuleResponse;
import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.ListTransfers200Response;
import java.time.OffsetDateTime;
import com.coinbase.cdp.openapi.model.Transfer;
import com.coinbase.cdp.openapi.model.TransferRequest;
import com.coinbase.cdp.openapi.model.TransferStatus;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class TransfersApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public TransfersApi() {
    this(new ApiClient());
  }

  public TransfersApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create transfer
   * Create a new transfer to move funds from a source to a target. All transfers first transition to &#x60;quoted&#x60;. If &#x60;execute: false&#x60;, the transfer stays quoted until you call &#x60;/v2/transfers/{transferId}/execute&#x60;. If &#x60;execute: true&#x60;, quoted status emits momentarily before the transfer moves to &#x60;processing&#x60;, where execution proceeds. Subscribe to the transfers webhook to  follow progress in real time instead of polling.
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param transferRequest  (optional)
   * @return Transfer
   * @throws ApiException if fails to make API call
   */
  public Transfer createTransfer(String xIdempotencyKey, TransferRequest transferRequest) throws ApiException {
    ApiResponse<Transfer> localVarResponse = createTransferWithHttpInfo(xIdempotencyKey, transferRequest);
    return localVarResponse.getData();
  }

  /**
   * Create transfer
   * Create a new transfer to move funds from a source to a target. All transfers first transition to &#x60;quoted&#x60;. If &#x60;execute: false&#x60;, the transfer stays quoted until you call &#x60;/v2/transfers/{transferId}/execute&#x60;. If &#x60;execute: true&#x60;, quoted status emits momentarily before the transfer moves to &#x60;processing&#x60;, where execution proceeds. Subscribe to the transfers webhook to  follow progress in real time instead of polling.
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param transferRequest  (optional)
   * @return ApiResponse&lt;Transfer&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Transfer> createTransferWithHttpInfo(String xIdempotencyKey, TransferRequest transferRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createTransferRequestBuilder(xIdempotencyKey, transferRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createTransfer", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Transfer>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Transfer>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Transfer>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createTransferRequestBuilder(String xIdempotencyKey, TransferRequest transferRequest) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/transfers";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(transferRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Execute transfer
   * Executes a transfer which was created using the Create a transfer endpoint.
   * @param transferId The ID of the transfer. (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return Transfer
   * @throws ApiException if fails to make API call
   */
  public Transfer executeFundTransfer(String transferId, String xIdempotencyKey) throws ApiException {
    ApiResponse<Transfer> localVarResponse = executeFundTransferWithHttpInfo(transferId, xIdempotencyKey);
    return localVarResponse.getData();
  }

  /**
   * Execute transfer
   * Executes a transfer which was created using the Create a transfer endpoint.
   * @param transferId The ID of the transfer. (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @return ApiResponse&lt;Transfer&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Transfer> executeFundTransferWithHttpInfo(String transferId, String xIdempotencyKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = executeFundTransferRequestBuilder(transferId, xIdempotencyKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("executeFundTransfer", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Transfer>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Transfer>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Transfer>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder executeFundTransferRequestBuilder(String transferId, String xIdempotencyKey) throws ApiException {
    // verify the required parameter 'transferId' is set
    if (transferId == null) {
      throw new ApiException(400, "Missing the required parameter 'transferId' when calling executeFundTransfer");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/transfers/{transferId}/execute"
        .replace("{transferId}", ApiClient.urlEncode(transferId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get transfer
   * Get a transfer by its ID.
   * @param transferId The unique identifier of the transfer. (required)
   * @return Transfer
   * @throws ApiException if fails to make API call
   */
  public Transfer getTransferById(String transferId) throws ApiException {
    ApiResponse<Transfer> localVarResponse = getTransferByIdWithHttpInfo(transferId);
    return localVarResponse.getData();
  }

  /**
   * Get transfer
   * Get a transfer by its ID.
   * @param transferId The unique identifier of the transfer. (required)
   * @return ApiResponse&lt;Transfer&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Transfer> getTransferByIdWithHttpInfo(String transferId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTransferByIdRequestBuilder(transferId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTransferById", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Transfer>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Transfer>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Transfer>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTransferByIdRequestBuilder(String transferId) throws ApiException {
    // verify the required parameter 'transferId' is set
    if (transferId == null) {
      throw new ApiException(400, "Missing the required parameter 'transferId' when calling getTransferById");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/transfers/{transferId}"
        .replace("{transferId}", ApiClient.urlEncode(transferId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List transfers
   * List transfers for your organization. Use this to view and monitor your transfer activity.  **Status Filtering**: Filter by specific status to efficiently manage transfers: * &#x60;?status&#x3D;processing&#x60; - Monitor active transfers. * &#x60;?status&#x3D;quoted&#x60; - Find transfers awaiting execution. * &#x60;?status&#x3D;failed&#x60; - Review failed transfers for troubleshooting. * &#x60;?status&#x3D;completed&#x60; - Find completed transfers.  **Account Filtering**: Filter by account ID to find transfers involving a specific account: * &#x60;?accountId&#x3D;&lt;ID&gt;&#x60; - All transfers where the account is either source or target (OR semantics). * &#x60;?sourceAccountId&#x3D;&lt;ID&gt;&#x60; - Only transfers where the account is the source (outbound). * &#x60;?targetAccountId&#x3D;&lt;ID&gt;&#x60; - Only transfers where the account is the target (inbound). Providing &#x60;accountId&#x60; together with &#x60;sourceAccountId&#x60; or &#x60;targetAccountId&#x60; is a validation error and returns HTTP 400.  **Date Range Filtering**: Filter by creation or last-updated time for reconciliation: * &#x60;?createdAfter&#x3D;2026-01-01T00:00:00Z&amp;createdBefore&#x3D;2026-01-31T23:59:59Z&#x60; - Transfers created within a date range. * &#x60;?updatedAfter&#x3D;2026-01-01T00:00:00Z&#x60; - Transfers updated since a given time. Useful for incremental sync.  **Asset Filtering**: Filter by source or target asset symbol: * &#x60;?sourceAsset&#x3D;usd&#x60; - Transfers funded from a USD account. * &#x60;?targetAsset&#x3D;usdc&#x60; - Transfers delivering USDC to the target.  **Other Filters**: * &#x60;?sourceAddress&#x3D;0x...&#x60; - Transfers from a specific on-chain source address. * &#x60;?targetAddress&#x3D;0x...&#x60; - Transfers to a specific on-chain destination address. * &#x60;?targetEmail&#x3D;user@example.com&#x60; - Transfers to a specific email recipient. * &#x60;?transferId&#x3D;transfer_...&#x60; - Look up a single transfer by ID; bypasses pagination.
   * @param status Filter transfers by status. Useful for building dashboards, monitoring active transfers, or finding transfers needing action. (optional)
   * @param accountId Filter transfers by account ID. Returns transfers where the specified account is either the source or target (OR semantics). Cannot be combined with &#x60;sourceAccountId&#x60; or &#x60;targetAccountId&#x60;. (optional)
   * @param sourceAccountId Filter transfers by source account ID. Returns only transfers where the specified account is the source. Cannot be combined with &#x60;accountId&#x60;. (optional)
   * @param targetAccountId Filter transfers by target account ID. Returns only transfers where the specified account is the target. Cannot be combined with &#x60;accountId&#x60;. (optional)
   * @param createdAfter Filter transfers to those created at or after this datetime (inclusive). ISO 8601 format. (optional)
   * @param createdBefore Filter transfers to those created at or before this datetime (inclusive). ISO 8601 format. (optional)
   * @param updatedAfter Filter transfers to those updated at or after this datetime (inclusive). ISO 8601 format. Useful for incremental sync — poll for transfers that changed state since your last check. (optional)
   * @param updatedBefore Filter transfers to those updated at or before this datetime (inclusive). ISO 8601 format. (optional)
   * @param sourceAsset Filter transfers by source asset symbol (e.g., &#x60;usd&#x60;, &#x60;usdc&#x60;). (optional)
   * @param targetAsset Filter transfers by target asset symbol (e.g., &#x60;usdc&#x60;, &#x60;eth&#x60;). (optional)
   * @param sourceAddress Filter transfers by the on-chain address of the source. (optional)
   * @param targetAddress Filter transfers by the on-chain destination address of the target. (optional)
   * @param targetEmail Filter transfers by the email address of the target recipient. (optional)
   * @param transferId Filter to a specific transfer by ID. When provided, returns only the matching transfer and bypasses pagination. (optional)
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @return ListTransfers200Response
   * @throws ApiException if fails to make API call
   */
  public ListTransfers200Response listTransfers(TransferStatus status, String accountId, String sourceAccountId, String targetAccountId, OffsetDateTime createdAfter, OffsetDateTime createdBefore, OffsetDateTime updatedAfter, OffsetDateTime updatedBefore, String sourceAsset, String targetAsset, String sourceAddress, String targetAddress, String targetEmail, String transferId, Integer pageSize, String pageToken) throws ApiException {
    ApiResponse<ListTransfers200Response> localVarResponse = listTransfersWithHttpInfo(status, accountId, sourceAccountId, targetAccountId, createdAfter, createdBefore, updatedAfter, updatedBefore, sourceAsset, targetAsset, sourceAddress, targetAddress, targetEmail, transferId, pageSize, pageToken);
    return localVarResponse.getData();
  }

  /**
   * List transfers
   * List transfers for your organization. Use this to view and monitor your transfer activity.  **Status Filtering**: Filter by specific status to efficiently manage transfers: * &#x60;?status&#x3D;processing&#x60; - Monitor active transfers. * &#x60;?status&#x3D;quoted&#x60; - Find transfers awaiting execution. * &#x60;?status&#x3D;failed&#x60; - Review failed transfers for troubleshooting. * &#x60;?status&#x3D;completed&#x60; - Find completed transfers.  **Account Filtering**: Filter by account ID to find transfers involving a specific account: * &#x60;?accountId&#x3D;&lt;ID&gt;&#x60; - All transfers where the account is either source or target (OR semantics). * &#x60;?sourceAccountId&#x3D;&lt;ID&gt;&#x60; - Only transfers where the account is the source (outbound). * &#x60;?targetAccountId&#x3D;&lt;ID&gt;&#x60; - Only transfers where the account is the target (inbound). Providing &#x60;accountId&#x60; together with &#x60;sourceAccountId&#x60; or &#x60;targetAccountId&#x60; is a validation error and returns HTTP 400.  **Date Range Filtering**: Filter by creation or last-updated time for reconciliation: * &#x60;?createdAfter&#x3D;2026-01-01T00:00:00Z&amp;createdBefore&#x3D;2026-01-31T23:59:59Z&#x60; - Transfers created within a date range. * &#x60;?updatedAfter&#x3D;2026-01-01T00:00:00Z&#x60; - Transfers updated since a given time. Useful for incremental sync.  **Asset Filtering**: Filter by source or target asset symbol: * &#x60;?sourceAsset&#x3D;usd&#x60; - Transfers funded from a USD account. * &#x60;?targetAsset&#x3D;usdc&#x60; - Transfers delivering USDC to the target.  **Other Filters**: * &#x60;?sourceAddress&#x3D;0x...&#x60; - Transfers from a specific on-chain source address. * &#x60;?targetAddress&#x3D;0x...&#x60; - Transfers to a specific on-chain destination address. * &#x60;?targetEmail&#x3D;user@example.com&#x60; - Transfers to a specific email recipient. * &#x60;?transferId&#x3D;transfer_...&#x60; - Look up a single transfer by ID; bypasses pagination.
   * @param status Filter transfers by status. Useful for building dashboards, monitoring active transfers, or finding transfers needing action. (optional)
   * @param accountId Filter transfers by account ID. Returns transfers where the specified account is either the source or target (OR semantics). Cannot be combined with &#x60;sourceAccountId&#x60; or &#x60;targetAccountId&#x60;. (optional)
   * @param sourceAccountId Filter transfers by source account ID. Returns only transfers where the specified account is the source. Cannot be combined with &#x60;accountId&#x60;. (optional)
   * @param targetAccountId Filter transfers by target account ID. Returns only transfers where the specified account is the target. Cannot be combined with &#x60;accountId&#x60;. (optional)
   * @param createdAfter Filter transfers to those created at or after this datetime (inclusive). ISO 8601 format. (optional)
   * @param createdBefore Filter transfers to those created at or before this datetime (inclusive). ISO 8601 format. (optional)
   * @param updatedAfter Filter transfers to those updated at or after this datetime (inclusive). ISO 8601 format. Useful for incremental sync — poll for transfers that changed state since your last check. (optional)
   * @param updatedBefore Filter transfers to those updated at or before this datetime (inclusive). ISO 8601 format. (optional)
   * @param sourceAsset Filter transfers by source asset symbol (e.g., &#x60;usd&#x60;, &#x60;usdc&#x60;). (optional)
   * @param targetAsset Filter transfers by target asset symbol (e.g., &#x60;usdc&#x60;, &#x60;eth&#x60;). (optional)
   * @param sourceAddress Filter transfers by the on-chain address of the source. (optional)
   * @param targetAddress Filter transfers by the on-chain destination address of the target. (optional)
   * @param targetEmail Filter transfers by the email address of the target recipient. (optional)
   * @param transferId Filter to a specific transfer by ID. When provided, returns only the matching transfer and bypasses pagination. (optional)
   * @param pageSize The number of resources to return per page. (optional, default to 20)
   * @param pageToken The token for the next page of resources, if any. (optional)
   * @return ApiResponse&lt;ListTransfers200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ListTransfers200Response> listTransfersWithHttpInfo(TransferStatus status, String accountId, String sourceAccountId, String targetAccountId, OffsetDateTime createdAfter, OffsetDateTime createdBefore, OffsetDateTime updatedAfter, OffsetDateTime updatedBefore, String sourceAsset, String targetAsset, String sourceAddress, String targetAddress, String targetEmail, String transferId, Integer pageSize, String pageToken) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listTransfersRequestBuilder(status, accountId, sourceAccountId, targetAccountId, createdAfter, createdBefore, updatedAfter, updatedBefore, sourceAsset, targetAsset, sourceAddress, targetAddress, targetEmail, transferId, pageSize, pageToken);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listTransfers", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ListTransfers200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ListTransfers200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListTransfers200Response>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listTransfersRequestBuilder(TransferStatus status, String accountId, String sourceAccountId, String targetAccountId, OffsetDateTime createdAfter, OffsetDateTime createdBefore, OffsetDateTime updatedAfter, OffsetDateTime updatedBefore, String sourceAsset, String targetAsset, String sourceAddress, String targetAddress, String targetEmail, String transferId, Integer pageSize, String pageToken) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/transfers";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "accountId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("accountId", accountId));
    localVarQueryParameterBaseName = "sourceAccountId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sourceAccountId", sourceAccountId));
    localVarQueryParameterBaseName = "targetAccountId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("targetAccountId", targetAccountId));
    localVarQueryParameterBaseName = "createdAfter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdAfter", createdAfter));
    localVarQueryParameterBaseName = "createdBefore";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdBefore", createdBefore));
    localVarQueryParameterBaseName = "updatedAfter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("updatedAfter", updatedAfter));
    localVarQueryParameterBaseName = "updatedBefore";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("updatedBefore", updatedBefore));
    localVarQueryParameterBaseName = "sourceAsset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sourceAsset", sourceAsset));
    localVarQueryParameterBaseName = "targetAsset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("targetAsset", targetAsset));
    localVarQueryParameterBaseName = "sourceAddress";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sourceAddress", sourceAddress));
    localVarQueryParameterBaseName = "targetAddress";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("targetAddress", targetAddress));
    localVarQueryParameterBaseName = "targetEmail";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("targetEmail", targetEmail));
    localVarQueryParameterBaseName = "transferId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("transferId", transferId));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "pageToken";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageToken", pageToken));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Submit deposit travel rule information
   * Submit travel rule information for a deposit transfer held pending compliance review.  Required fields vary by jurisdiction and may include originator name, address, date of birth, personal ID, and VASP information.  If the submitted information satisfies all jurisdictional requirements, &#x60;status&#x60; will be &#x60;completed&#x60; and the transfer will proceed. Otherwise, &#x60;status&#x60; will be &#x60;incomplete&#x60; and &#x60;missingFields&#x60; will indicate which fields still need to be provided.
   * @param transferId The unique identifier of the transfer. (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param depositTravelRuleRequest  (optional)
   * @return DepositTravelRuleResponse
   * @throws ApiException if fails to make API call
   */
  public DepositTravelRuleResponse submitDepositTravelRule(String transferId, String xIdempotencyKey, DepositTravelRuleRequest depositTravelRuleRequest) throws ApiException {
    ApiResponse<DepositTravelRuleResponse> localVarResponse = submitDepositTravelRuleWithHttpInfo(transferId, xIdempotencyKey, depositTravelRuleRequest);
    return localVarResponse.getData();
  }

  /**
   * Submit deposit travel rule information
   * Submit travel rule information for a deposit transfer held pending compliance review.  Required fields vary by jurisdiction and may include originator name, address, date of birth, personal ID, and VASP information.  If the submitted information satisfies all jurisdictional requirements, &#x60;status&#x60; will be &#x60;completed&#x60; and the transfer will proceed. Otherwise, &#x60;status&#x60; will be &#x60;incomplete&#x60; and &#x60;missingFields&#x60; will indicate which fields still need to be provided.
   * @param transferId The unique identifier of the transfer. (required)
   * @param xIdempotencyKey An optional string request header for making requests safely retryable. When included, duplicate requests with the same key will return identical responses. Refer to our [Idempotency docs](https://docs.cdp.coinbase.com/api-reference/v2/idempotency) for more information on using idempotency keys.  (optional)
   * @param depositTravelRuleRequest  (optional)
   * @return ApiResponse&lt;DepositTravelRuleResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DepositTravelRuleResponse> submitDepositTravelRuleWithHttpInfo(String transferId, String xIdempotencyKey, DepositTravelRuleRequest depositTravelRuleRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = submitDepositTravelRuleRequestBuilder(transferId, xIdempotencyKey, depositTravelRuleRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("submitDepositTravelRule", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DepositTravelRuleResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DepositTravelRuleResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DepositTravelRuleResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder submitDepositTravelRuleRequestBuilder(String transferId, String xIdempotencyKey, DepositTravelRuleRequest depositTravelRuleRequest) throws ApiException {
    // verify the required parameter 'transferId' is set
    if (transferId == null) {
      throw new ApiException(400, "Missing the required parameter 'transferId' when calling submitDepositTravelRule");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/transfers/{transferId}/travel-rule"
        .replace("{transferId}", ApiClient.urlEncode(transferId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xIdempotencyKey != null) {
      localVarRequestBuilder.header("X-Idempotency-Key", xIdempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(depositTravelRuleRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
