/*
 * Coinbase Developer Platform APIs
 * The Coinbase Developer Platform APIs - leading the world's transition onchain.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: cdp@coinbase.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.coinbase.cdp.openapi.api;

import com.coinbase.cdp.openapi.ApiClient;
import com.coinbase.cdp.openapi.ApiException;
import com.coinbase.cdp.openapi.ApiResponse;
import com.coinbase.cdp.openapi.Pair;

import com.coinbase.cdp.openapi.model.Error;
import com.coinbase.cdp.openapi.model.InlineObject;
import com.coinbase.cdp.openapi.model.InlineObject1;
import com.coinbase.cdp.openapi.model.InlineObject2;
import com.coinbase.cdp.openapi.model.VerifyX402PaymentRequest;
import com.coinbase.cdp.openapi.model.X402DiscoveryMerchantResponse;
import com.coinbase.cdp.openapi.model.X402DiscoveryResourcesResponse;
import com.coinbase.cdp.openapi.model.X402McpRequest;
import com.coinbase.cdp.openapi.model.X402McpResponse;
import com.coinbase.cdp.openapi.model.X402SearchResourcesResponse;
import com.coinbase.cdp.openapi.model.X402SettlePaymentRejection;
import com.coinbase.cdp.openapi.model.X402VerifyPaymentRejection;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class X402FacilitatorApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public X402FacilitatorApi() {
    this(new ApiClient());
  }

  public X402FacilitatorApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * List merchant discovery info
   * Gets x402 merchant discovery information for a given merchant payment address. This endpoint returns all active x402 resources associated with the specified &#x60;payTo&#x60; address, allowing clients to discover what payment-gated resources a merchant exposes and their corresponding payment requirements. The response is paginated, and by default, returns 20 items per page.
   * @param payTo The merchant&#39;s payment address to look up. This is the onchain address that payment requirements route funds to. (required)
   * @param limit The number of resources to return per page. (optional, default to 20)
   * @param offset The offset of the first resource to return. (optional, default to 0)
   * @return X402DiscoveryMerchantResponse
   * @throws ApiException if fails to make API call
   */
  public X402DiscoveryMerchantResponse listX402DiscoveryMerchant(String payTo, Integer limit, Integer offset) throws ApiException {
    ApiResponse<X402DiscoveryMerchantResponse> localVarResponse = listX402DiscoveryMerchantWithHttpInfo(payTo, limit, offset);
    return localVarResponse.getData();
  }

  /**
   * List merchant discovery info
   * Gets x402 merchant discovery information for a given merchant payment address. This endpoint returns all active x402 resources associated with the specified &#x60;payTo&#x60; address, allowing clients to discover what payment-gated resources a merchant exposes and their corresponding payment requirements. The response is paginated, and by default, returns 20 items per page.
   * @param payTo The merchant&#39;s payment address to look up. This is the onchain address that payment requirements route funds to. (required)
   * @param limit The number of resources to return per page. (optional, default to 20)
   * @param offset The offset of the first resource to return. (optional, default to 0)
   * @return ApiResponse&lt;X402DiscoveryMerchantResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<X402DiscoveryMerchantResponse> listX402DiscoveryMerchantWithHttpInfo(String payTo, Integer limit, Integer offset) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listX402DiscoveryMerchantRequestBuilder(payTo, limit, offset);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listX402DiscoveryMerchant", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<X402DiscoveryMerchantResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<X402DiscoveryMerchantResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<X402DiscoveryMerchantResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listX402DiscoveryMerchantRequestBuilder(String payTo, Integer limit, Integer offset) throws ApiException {
    // verify the required parameter 'payTo' is set
    if (payTo == null) {
      throw new ApiException(400, "Missing the required parameter 'payTo' when calling listX402DiscoveryMerchant");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/x402/discovery/merchant";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "payTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("payTo", payTo));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List discovered x402 resources
   * Lists all active discovered x402 resources. This endpoint returns resources that have been discovered and cached by the x402 facilitator, including their payment requirements and metadata. The response is paginated, and by default, returns 100 items per page.
   * @param type Filter by protocol type (e.g., \&quot;http\&quot;, \&quot;mcp\&quot;). Currently, the only supported protocol type is \&quot;http\&quot;. (optional)
   * @param limit The number of discovered x402 resources to return per page. (optional, default to 100)
   * @param offset The offset of the first discovered x402 resource to return. (optional, default to 0)
   * @return X402DiscoveryResourcesResponse
   * @throws ApiException if fails to make API call
   */
  public X402DiscoveryResourcesResponse listX402DiscoveryResources(String type, Integer limit, Integer offset) throws ApiException {
    ApiResponse<X402DiscoveryResourcesResponse> localVarResponse = listX402DiscoveryResourcesWithHttpInfo(type, limit, offset);
    return localVarResponse.getData();
  }

  /**
   * List discovered x402 resources
   * Lists all active discovered x402 resources. This endpoint returns resources that have been discovered and cached by the x402 facilitator, including their payment requirements and metadata. The response is paginated, and by default, returns 100 items per page.
   * @param type Filter by protocol type (e.g., \&quot;http\&quot;, \&quot;mcp\&quot;). Currently, the only supported protocol type is \&quot;http\&quot;. (optional)
   * @param limit The number of discovered x402 resources to return per page. (optional, default to 100)
   * @param offset The offset of the first discovered x402 resource to return. (optional, default to 0)
   * @return ApiResponse&lt;X402DiscoveryResourcesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<X402DiscoveryResourcesResponse> listX402DiscoveryResourcesWithHttpInfo(String type, Integer limit, Integer offset) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listX402DiscoveryResourcesRequestBuilder(type, limit, offset);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listX402DiscoveryResources", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<X402DiscoveryResourcesResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<X402DiscoveryResourcesResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<X402DiscoveryResourcesResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listX402DiscoveryResourcesRequestBuilder(String type, Integer limit, Integer offset) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/x402/discovery/resources";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Handle MCP JSON-RPC request
   * Handles JSON-RPC requests for the Model Context Protocol (MCP). Supports MCP methods for discovering x402 payment resources and tools.
   * @param x402McpRequest  (required)
   * @return X402McpResponse
   * @throws ApiException if fails to make API call
   */
  public X402McpResponse postX402DiscoveryMcp(X402McpRequest x402McpRequest) throws ApiException {
    ApiResponse<X402McpResponse> localVarResponse = postX402DiscoveryMcpWithHttpInfo(x402McpRequest);
    return localVarResponse.getData();
  }

  /**
   * Handle MCP JSON-RPC request
   * Handles JSON-RPC requests for the Model Context Protocol (MCP). Supports MCP methods for discovering x402 payment resources and tools.
   * @param x402McpRequest  (required)
   * @return ApiResponse&lt;X402McpResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<X402McpResponse> postX402DiscoveryMcpWithHttpInfo(X402McpRequest x402McpRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = postX402DiscoveryMcpRequestBuilder(x402McpRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("postX402DiscoveryMcp", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<X402McpResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<X402McpResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<X402McpResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder postX402DiscoveryMcpRequestBuilder(X402McpRequest x402McpRequest) throws ApiException {
    // verify the required parameter 'x402McpRequest' is set
    if (x402McpRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'x402McpRequest' when calling postX402DiscoveryMcp");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/x402/discovery/mcp";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(x402McpRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Search x402 resources
   * Searches for active x402 resources using a text query and optional filters. Supports both text-based and vector-based search depending on availability. Results are sorted by relevance and quality score. Legacy network names (e.g., &#x60;base&#x60;, &#x60;base-sepolia&#x60;, &#x60;solana&#x60;) are automatically normalized to their CAIP-2 equivalents. The response is limited to 20 items per request. If more results exist, &#x60;partialResults&#x60; will be &#x60;true&#x60;.
   * @param query Full-text or semantic search query to find matching resources. (optional)
   * @param network Filter results by network in CAIP-2 format (e.g., &#x60;eip155:8453&#x60;) or legacy name (e.g., &#x60;base&#x60;, &#x60;base-sepolia&#x60;, &#x60;solana&#x60;). Legacy names are normalized to their CAIP-2 equivalents before filtering. (optional)
   * @param asset Filter results by asset address. For EVM networks, provide a 0x-prefixed EVM address. For Solana networks, provide a base58-encoded address. Matching is case-insensitive. (optional)
   * @param scheme Filter results by payment scheme (e.g., &#x60;exact&#x60;). (optional)
   * @param payTo Filter results by the merchant&#39;s payment address. For EVM networks, provide a 0x-prefixed EVM address. For Solana networks, provide a base58-encoded address. (optional)
   * @param urlSubstring Filter results to resources whose URL contains this value (case-insensitive substring match against the resource URL). Useful for narrowing results to a specific domain, subdomain, or path segment. Combine with &#x60;query&#x60; to perform semantic search restricted to a URL subset. Tip: include enough of the URL to disambiguate (e.g. &#x60;api.example.com&#x60; rather than &#x60;example&#x60;) — a short substring may also match resources whose path contains the same string. (optional)
   * @param maxUsdPrice Filter results to resources with a USD price at or below this value. (optional)
   * @param extensions Filter results to resources that support the specified protocol extensions. Can be specified multiple times to filter by multiple extensions. (optional)
   * @param limit Maximum number of resources to return. Must be a positive integer no greater than 20. Defaults to 20. (optional, default to 20)
   * @return X402SearchResourcesResponse
   * @throws ApiException if fails to make API call
   */
  public X402SearchResourcesResponse searchX402Resources(String query, String network, String asset, String scheme, String payTo, String urlSubstring, String maxUsdPrice, List<String> extensions, Integer limit) throws ApiException {
    ApiResponse<X402SearchResourcesResponse> localVarResponse = searchX402ResourcesWithHttpInfo(query, network, asset, scheme, payTo, urlSubstring, maxUsdPrice, extensions, limit);
    return localVarResponse.getData();
  }

  /**
   * Search x402 resources
   * Searches for active x402 resources using a text query and optional filters. Supports both text-based and vector-based search depending on availability. Results are sorted by relevance and quality score. Legacy network names (e.g., &#x60;base&#x60;, &#x60;base-sepolia&#x60;, &#x60;solana&#x60;) are automatically normalized to their CAIP-2 equivalents. The response is limited to 20 items per request. If more results exist, &#x60;partialResults&#x60; will be &#x60;true&#x60;.
   * @param query Full-text or semantic search query to find matching resources. (optional)
   * @param network Filter results by network in CAIP-2 format (e.g., &#x60;eip155:8453&#x60;) or legacy name (e.g., &#x60;base&#x60;, &#x60;base-sepolia&#x60;, &#x60;solana&#x60;). Legacy names are normalized to their CAIP-2 equivalents before filtering. (optional)
   * @param asset Filter results by asset address. For EVM networks, provide a 0x-prefixed EVM address. For Solana networks, provide a base58-encoded address. Matching is case-insensitive. (optional)
   * @param scheme Filter results by payment scheme (e.g., &#x60;exact&#x60;). (optional)
   * @param payTo Filter results by the merchant&#39;s payment address. For EVM networks, provide a 0x-prefixed EVM address. For Solana networks, provide a base58-encoded address. (optional)
   * @param urlSubstring Filter results to resources whose URL contains this value (case-insensitive substring match against the resource URL). Useful for narrowing results to a specific domain, subdomain, or path segment. Combine with &#x60;query&#x60; to perform semantic search restricted to a URL subset. Tip: include enough of the URL to disambiguate (e.g. &#x60;api.example.com&#x60; rather than &#x60;example&#x60;) — a short substring may also match resources whose path contains the same string. (optional)
   * @param maxUsdPrice Filter results to resources with a USD price at or below this value. (optional)
   * @param extensions Filter results to resources that support the specified protocol extensions. Can be specified multiple times to filter by multiple extensions. (optional)
   * @param limit Maximum number of resources to return. Must be a positive integer no greater than 20. Defaults to 20. (optional, default to 20)
   * @return ApiResponse&lt;X402SearchResourcesResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<X402SearchResourcesResponse> searchX402ResourcesWithHttpInfo(String query, String network, String asset, String scheme, String payTo, String urlSubstring, String maxUsdPrice, List<String> extensions, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = searchX402ResourcesRequestBuilder(query, network, asset, scheme, payTo, urlSubstring, maxUsdPrice, extensions, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("searchX402Resources", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<X402SearchResourcesResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<X402SearchResourcesResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<X402SearchResourcesResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder searchX402ResourcesRequestBuilder(String query, String network, String asset, String scheme, String payTo, String urlSubstring, String maxUsdPrice, List<String> extensions, Integer limit) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/x402/discovery/search";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "query";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("query", query));
    localVarQueryParameterBaseName = "network";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("network", network));
    localVarQueryParameterBaseName = "asset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("asset", asset));
    localVarQueryParameterBaseName = "scheme";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("scheme", scheme));
    localVarQueryParameterBaseName = "payTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("payTo", payTo));
    localVarQueryParameterBaseName = "urlSubstring";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("urlSubstring", urlSubstring));
    localVarQueryParameterBaseName = "maxUsdPrice";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("maxUsdPrice", maxUsdPrice));
    localVarQueryParameterBaseName = "extensions";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "extensions", extensions));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Settle a payment
   * Settle an x402 protocol payment with a specific scheme and network.
   * @param verifyX402PaymentRequest  (required)
   * @return InlineObject1
   * @throws ApiException if fails to make API call
   */
  public InlineObject1 settleX402Payment(VerifyX402PaymentRequest verifyX402PaymentRequest) throws ApiException {
    ApiResponse<InlineObject1> localVarResponse = settleX402PaymentWithHttpInfo(verifyX402PaymentRequest);
    return localVarResponse.getData();
  }

  /**
   * Settle a payment
   * Settle an x402 protocol payment with a specific scheme and network.
   * @param verifyX402PaymentRequest  (required)
   * @return ApiResponse&lt;InlineObject1&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<InlineObject1> settleX402PaymentWithHttpInfo(VerifyX402PaymentRequest verifyX402PaymentRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = settleX402PaymentRequestBuilder(verifyX402PaymentRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("settleX402Payment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<InlineObject1>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<InlineObject1>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<InlineObject1>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder settleX402PaymentRequestBuilder(VerifyX402PaymentRequest verifyX402PaymentRequest) throws ApiException {
    // verify the required parameter 'verifyX402PaymentRequest' is set
    if (verifyX402PaymentRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'verifyX402PaymentRequest' when calling settleX402Payment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/x402/settle";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(verifyX402PaymentRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get supported payment schemes and networks
   * Get the supported x402 protocol payment schemes and networks that the facilitator is able to verify and settle payments for.
   * @return InlineObject2
   * @throws ApiException if fails to make API call
   */
  public InlineObject2 supportedX402PaymentKinds() throws ApiException {
    ApiResponse<InlineObject2> localVarResponse = supportedX402PaymentKindsWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Get supported payment schemes and networks
   * Get the supported x402 protocol payment schemes and networks that the facilitator is able to verify and settle payments for.
   * @return ApiResponse&lt;InlineObject2&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<InlineObject2> supportedX402PaymentKindsWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = supportedX402PaymentKindsRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("supportedX402PaymentKinds", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<InlineObject2>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<InlineObject2>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<InlineObject2>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder supportedX402PaymentKindsRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/x402/supported";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Verify a payment
   * Verify an x402 protocol payment with a specific scheme and network.
   * @param verifyX402PaymentRequest  (required)
   * @return InlineObject
   * @throws ApiException if fails to make API call
   */
  public InlineObject verifyX402Payment(VerifyX402PaymentRequest verifyX402PaymentRequest) throws ApiException {
    ApiResponse<InlineObject> localVarResponse = verifyX402PaymentWithHttpInfo(verifyX402PaymentRequest);
    return localVarResponse.getData();
  }

  /**
   * Verify a payment
   * Verify an x402 protocol payment with a specific scheme and network.
   * @param verifyX402PaymentRequest  (required)
   * @return ApiResponse&lt;InlineObject&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<InlineObject> verifyX402PaymentWithHttpInfo(VerifyX402PaymentRequest verifyX402PaymentRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = verifyX402PaymentRequestBuilder(verifyX402PaymentRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("verifyX402Payment", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<InlineObject>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<InlineObject>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<InlineObject>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder verifyX402PaymentRequestBuilder(VerifyX402PaymentRequest verifyX402PaymentRequest) throws ApiException {
    // verify the required parameter 'verifyX402PaymentRequest' is set
    if (verifyX402PaymentRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'verifyX402PaymentRequest' when calling verifyX402Payment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v2/x402/verify";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(verifyX402PaymentRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
